backups/Clasificador_–_Tiempo_real.json
{
  "updatedAt": "2025-10-25T02:02:14.000Z",
  "createdAt": "2025-10-01T15:42:59.503Z",
  "id": "8jemrDys3P0ZnxyI",
  "name": "Clasificador – Tiempo real",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "/**\n * CLASIFICADOR CONFIGURABLE (con tus remitentes)\n * Prioridad: el primer bucket que haga match gana\n */\n\nconst CONFIG = {\n  order: [\n    'zillow',\n    'blas',\n    // Tus remitentes (alta prioridad)\n    'hernando',\n    'madelayne',\n    'jmprosolutions',\n    'sandra',\n    'google_workspace',\n    'docusign_multipro',\n    'natalia',\n    // Genéricos\n    'social',\n    'promotions',\n  ],\n  rules: {\n    // ===== Buckets existentes =====\n    zillow: {\n      fromDomains: ['zillow.com', 'mail.zillow.com'],\n      subjectIncludes: ['zillow','listing', 'new listings',            'price cut', 'for sale', 'Ellijay', 'GA',],\n    },\n    blas: {\n      fromDomains: ['housecallpro.com'],\n      fromIncludes: ['blas'],\n    },\n\n    // ===== Tus remitentes =====\n    hernando: {\n      bucketName: 'hernando',\n      fromEmails: ['hernandomorales235@gmail.com'],\n      fromIncludes: ['Hernando Morales'],\n    },\n    madelayne: {\n      bucketName: 'madelayne',\n      fromEmails: ['madi@mmr-madewith.love'],\n      fromDomains: ['mmr-madewith.love'],\n      fromIncludes: ['Madelayne Morales'],\n    },\n    jmprosolutions: {\n      bucketName: 'jmprosolutions',\n      fromEmails: ['jmprosolutionscontracting@gmail.com'],\n      fromIncludes: ['J & M PRO SOLUTIONS', 'jm pro solutions', 'j&m pro solutions'],\n    },\n    sandra: {\n      bucketName: 'sandra',\n      fromEmails: ['sandra_buitrago@hotmail.com'],\n      fromIncludes: ['Sandra Milena Buitrago'],\n    },\n    google_workspace: {\n      bucketName: 'google_workspace',\n      fromEmails: ['workspace-noreply@google.com','notify-noreply@google.com'],\n      fromDomains: ['google.com', 'googlemail.com'],\n      fromIncludes: ['google workspace team'],\n      subjectIncludes: ['google'],\n    },\n    docusign_multipro: {\n      bucketName: 'docusign_multipro',\n      fromEmails: ['dse_na2@docusign.net'],\n      fromDomains: ['docusign.net'],\n      fromIncludes: ['multipro property solutions', 'docusign'],\n      subjectIncludes: ['docusign'],\n    },\n    natalia: {\n      bucketName: 'natalia',\n      fromEmails: ['salazarsnatalia@gmail.com'],\n      fromIncludes: ['Natalia Salazar Sarmiento'],\n    },\n\n    // ===== Genéricos =====\n    social: {\n      fromDomains: [\n        'facebookmail.com','tiktok.com','instagram.com','linkedin.com',\n        'twitter.com','x.com','pinterest.com','snapchat.com'\n      ],\n    },\n    promotions: {\n      gmailLabelAny: ['CATEGORY_PROMOTIONS'],\n      headerHas: ['list-unsubscribe'],\n      subjectIncludes: ['unsubscribe','sale','offer','promo','newsletter'],\n    },\n  },\n};\n\n/* ===== LÓGICA ===== */\nfunction getHeader(msg, name) {\n  const n = String(name).toLowerCase();\n  const arr = msg.payload?.headers;\n  if (Array.isArray(arr)) {\n    const h = arr.find(h => String(h.name || '').toLowerCase() === n);\n    if (h && h.value) return h.value;\n  }\n  if (msg.headers && typeof msg.headers === 'object') {\n    return msg.headers[n] || msg.headers[name] || '';\n  }\n  return '';\n}\nfunction pickLabels(m) {\n  if (Array.isArray(m.labelIds)) return m.labelIds;\n  if (Array.isArray(m.labels)) return m.labels.map(l => l.id || l.name).filter(Boolean);\n  return [];\n}\nfunction parseFrom(raw) {\n  const s = (raw || '').trim();\n  const m = s.match(/<([^>]+)>/);\n  const address = (m ? m[1] : s).trim().toLowerCase();\n  const at = address.lastIndexOf('@');\n  const domain = at > -1 ? address.slice(at + 1) : '';\n  return { raw: s, address, domain };\n}\nfunction strContainsAny(str, arr) {\n  if (!str) return false;\n  const s = String(str).toLowerCase();\n  return (arr || []).some(x => s.includes(String(x).toLowerCase()));\n}\nfunction domainMatches(domain, list) {\n  if (!domain) return false;\n  const d = domain.toLowerCase();\n  return (list || []).some(x => d.endsWith(String(x).toLowerCase()));\n}\nfunction anyGmailLabel(labels, wanted) {\n  if (!labels?.length || !wanted?.length) return false;\n  return wanted.some(w => labels.includes(w));\n}\nfunction headerHasAny(msg, names) {\n  if (!names?.length) return false;\n  return names.some(n => !!getHeader(msg, n));\n}\n\nreturn items.map(item => {\n  const m = item.json;\n\n  const id = m.id;\n  const threadId = m.threadId;\n  const labels = pickLabels(m);\n\n  const fromRaw = getHeader(m, 'From') || m.from?.text || m.from?.address || '';\n  const subjectRaw = getHeader(m, 'Subject') || m.subject || m.snippet || '';\n  const { address: fromAddr, domain: fromDomain } = parseFrom(fromRaw);\n\n  const subject = subjectRaw.toLowerCase();\n\n  let bucket = 'otros';\n  let reason = '';\n\n  for (const key of CONFIG.order) {\n    const r = CONFIG.rules[key] || {};\n    const bName = r.bucketName || key;\n\n    const hit =\n      (r.fromEmails && strContainsAny(fromAddr, r.fromEmails)) ||\n      (r.fromDomains && domainMatches(fromDomain, r.fromDomains)) ||\n      (r.fromIncludes && strContainsAny(fromRaw, r.fromIncludes)) ||\n      (r.subjectIncludes && strContainsAny(subject, r.subjectIncludes)) ||\n      (r.subjectRegex && new RegExp(r.subjectRegex, 'i').test(subject)) ||\n      (r.gmailLabelAny && anyGmailLabel(labels, r.gmailLabelAny)) ||\n      (r.headerHas && headerHasAny(m, r.headerHas));\n\n    if (hit) { bucket = bName; reason = `matched:${key}`; break; }\n  }\n\n  return {\n    json: {\n      id,\n      threadId,\n      from: fromAddr || fromRaw.toLowerCase(),\n      fromDomain,\n      subject,\n      labelIds: labels,\n      bucket,\n      reason,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        752
      ],
      "id": "c0060189-2545-4fb2-bf8b-7e02e1480a9d",
      "name": "ClasificadorParaElSwitch"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        752
      ],
      "id": "db061ff9-aec2-405d-a737-0041baff0209",
      "name": "LlegaCorreoNuevo",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        1248
      ],
      "id": "b74b1225-de2a-4cd7-a235-e757b1ef5727",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Filtra registros de los últimos 7 días y resume por bucket y acción\nconst itemsSemana = items.filter(item => {\n  // Fecha esperada formato ISO (como la que guarda el log)\n  const fecha = new Date(item.json.fecha);\n  const hoy = new Date();\n  const hace7dias = new Date(hoy.getTime() - 7*24*60*60*1000);\n  return fecha >= hace7dias && fecha <= hoy;\n});\n\nlet resumen = {};\nlet total = 0;\nfor (const item of itemsSemana) {\n  const bucket = item.json.bucket || 'otros';\n  if (!resumen[bucket]) resumen[bucket] = { total: 0, acciones: {} };\n  resumen[bucket].total++;\n  total++;\n  const accion = item.json.accion || 'organizado';\n  if (!resumen[bucket].acciones[accion]) resumen[bucket].acciones[accion] = 0;\n  resumen[bucket].acciones[accion]++;\n}\n\n// Formato texto para el email\nlet filas = '';\nfor (const dato of Object.entries(resumen).flatMap(([bucket, info]) =>\n      Object.entries(info.acciones).map(([accion, cantidad]) =>\n        ({ bucket, accion, cantidad })\n      )\n    )) {\n  filas += `\n    <tr>\n      <td class=\"bucket\">${dato.bucket}</td>\n      <td>${dato.accion}</td>\n      <td>${dato.cantidad}</td>\n    </tr>\n  `;\n}\n\nreturn [{\n  json: {\n    htmlFilas: filas,\n    total: total\n  }\n}]\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1248
      ],
      "id": "397d8e74-c0e2-4620-a0b4-382d92aa0b9c",
      "name": "CodeResume",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        1248
      ],
      "id": "6f6a9305-adb3-4db7-b140-5e03ee7593eb",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "hernandomv@gmail.com",
        "subject": "Reporte Semanal del Clasificador",
        "message": "=<html>\n  <head>\n    <style>\n      body { font-family: Arial, sans-serif; background: #f5f6fa; color: #2d3436; padding: 30px; }\n      .container { background: #fff; border-radius: 8px; box-shadow: 0 2px 8px #eee; padding: 24px; max-width: 570px; margin: auto; }\n      h2    { color: #6200ea; border-bottom: 2px solid #ececec; padding-bottom: 8px; }\n      .total { font-size: 1.15em; font-weight: bold; margin: 20px 0 12px 0; color:#00b894;}\n      table { border-collapse: collapse; width: 100%; background: #fafafa; }\n      th, td { border: 1px solid #dfe6e9; padding: 8px 12px; text-align: left; }\n      th { background: #6200ea; color: #fff; }\n      .bucket { font-weight: bold; color: #0984e3; }\n      .badge { background: #00b894; color: #fff; padding: 4px 10px; border-radius: 6px; font-weight: bold; font-size: 0.97em;}\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h2>📧 Reporte Semanal del Clasificador de Correos</h2>\n      <div class=\"total\">Total de correos procesados: <span class=\"badge\">{{ $json.total }}</span></div>\n      <table>\n        <tr>\n          <th>Bucket</th>\n          <th>Acción</th>\n          <th>Cantidad</th>\n        </tr>\n        {{ $json.htmlFilas }}\n      </table>\n      <p style=\"margin-top:24px;font-size:1em;color:#636e72;\">\n        Este informe muestra cómo se organizaron y clasificaron los correos automáticamente durante la última semana.\n      </p>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1248
      ],
      "id": "1aba1496-8687-4429-8937-1648e2794c38",
      "name": "Send a message",
      "webhookId": "5e4c9ba0-cb88-42b8-b1e4-4f52ff4e4be3",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 336,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        1152
      ],
      "typeVersion": 1,
      "id": "46000582-40f2-4c1e-9026-50acb785595b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1680
      ],
      "id": "7794fd76-d911-41e2-a4b5-63570d79f10a",
      "name": "PromotionsThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "trash",
        "threadId": "={{ $json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        1680
      ],
      "id": "30d18786-cc60-4167-a3e5-9b553f72e1eb",
      "name": "EnviarPapeleraPromociones",
      "webhookId": "0287e571-6516-4163-834f-f81f65f5b77c",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'prmotions' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1680
      ],
      "id": "ea99df77-c5dc-44db-b52a-e33fdfba33e3",
      "name": "LOG10"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('PromotionsThreads').item.json.from }}",
            "subject": "={{ $('PromotionsThreads').item.json.subject }}",
            "bucket": "={{ $('PromotionsThreads').item.json.bucket }}",
            "reason": "={{ $('PromotionsThreads').item.json.reason }}",
            "threadId": "={{ $('PromotionsThreads').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        1680
      ],
      "id": "1c114b43-0ef1-46db-bdf6-a0038ef85d05",
      "name": "GuardarLogPromo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1488
      ],
      "id": "5721ae2d-0159-4d60-9117-4a3f7a3bd0f2",
      "name": "SocialThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "trash",
        "threadId": "={{ $json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        1488
      ],
      "id": "4b3cdb1c-8bc8-4957-a19b-9ff5c07311c7",
      "name": "EnviarPapeleraSocial",
      "webhookId": "0287e571-6516-4163-834f-f81f65f5b77c",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'social' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1488
      ],
      "id": "bd838842-0a99-4bd8-af83-4c9229dc1683",
      "name": "LOG9"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('SocialThreads').item.json.from }}",
            "subject": "={{ $('SocialThreads').item.json.subject }}",
            "bucket": "={{ $('SocialThreads').item.json.bucket }}",
            "reason": "={{ $('SocialThreads').item.json.reason }}",
            "threadId": "={{ $('SocialThreads').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        1488
      ],
      "id": "94f0a871-545b-4dd8-8c3b-6d97054a3c45",
      "name": "GuardarLogSocial",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1296
      ],
      "id": "93c75e8a-f639-465a-b08d-24f184df493a",
      "name": "GoogleThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_3534046112788002387"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        1296
      ],
      "id": "7b1dc7c2-4879-4146-9639-979196675a26",
      "name": "EtiquetarGoogle",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        1296
      ],
      "id": "6295f8be-3ee2-4ffe-949f-7d298bbc8bbb",
      "name": "QuitarGoogledeInbox",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'google_workspace' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1296
      ],
      "id": "320d3162-290e-49a4-8f29-b009882bdcd0",
      "name": "LOG8"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('GoogleThreads(conversaciones)').item.json.from }}",
            "subject": "={{ $('GoogleThreads(conversaciones)').item.json.subject }}",
            "bucket": "={{ $('GoogleThreads(conversaciones)').item.json.bucket }}",
            "reason": "={{ $('GoogleThreads(conversaciones)').item.json.reason }}",
            "threadId": "={{ $('GoogleThreads(conversaciones)').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        1296
      ],
      "id": "491ec084-8170-46d2-b373-9378c5505342",
      "name": "GuardarLogGoogle",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1104
      ],
      "id": "bd82c2af-6631-48df-a959-3c33cb332f11",
      "name": "NataliaThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_3478249513281905619"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        1104
      ],
      "id": "424ea6ac-ccdd-488c-944c-21be72f4c44a",
      "name": "EtiquetarNatalia",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        1104
      ],
      "id": "8303e1de-32fc-46bb-a0ec-94df20df4e36",
      "name": "QuitarNatalia",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'natalia' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1104
      ],
      "id": "dc87f020-261a-4d93-a80d-1f1f844da91d",
      "name": "LOG7"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('NataliaThreads').item.json.from }}",
            "subject": "={{ $('NataliaThreads').item.json.subject }}",
            "bucket": "={{ $('NataliaThreads').item.json.bucket }}",
            "reason": "={{ $('NataliaThreads').item.json.reason }}",
            "threadId": "={{ $('NataliaThreads').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        1104
      ],
      "id": "ef249165-1c02-4145-9534-4227e543fba6",
      "name": "GuardarLogNathalia",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        912
      ],
      "id": "87a7ded8-f8ac-4514-9f43-a042fb07fa4a",
      "name": "MultiProThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_3099008060578150803"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        912
      ],
      "id": "ca127449-b92f-4595-b660-10704462eaa6",
      "name": "EtiquetarMulti Pro",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        912
      ],
      "id": "0b1e00e1-3315-48bf-a427-d5ff78035661",
      "name": "QuitarMultiPro",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'docusign_multipro' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        912
      ],
      "id": "2d4098cc-c809-485c-a30e-ac4f086a55c5",
      "name": "LOG6"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('MultiProThreads(conversaciones)').item.json.from }}",
            "subject": "={{ $('MultiProThreads(conversaciones)').item.json.subject }}",
            "bucket": "={{ $('MultiProThreads(conversaciones)').item.json.bucket }}",
            "reason": "={{ $('MultiProThreads(conversaciones)').item.json.reason }}",
            "threadId": "={{ $('MultiProThreads(conversaciones)').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        912
      ],
      "id": "32150fdd-31e2-4c53-a2ad-097239a2c3cf",
      "name": "GuardarLogMultipro",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_4531081342313825095"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        720
      ],
      "id": "47cf0403-8aae-4a68-84e2-3623ea38aeea",
      "name": "EtiquetarSandraM",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        720
      ],
      "id": "59d98c62-d2db-4478-bc86-3090e2389437",
      "name": "QuitarSandraMdeInbox",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        720
      ],
      "id": "384b36a6-703a-42d7-ab62-bd2b5e97d7cd",
      "name": "SandraMThreads"
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'sandra' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        720
      ],
      "id": "4d47369d-76c4-422c-b6a4-c06efb0f85a9",
      "name": "LOG5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('SandraMThreads').item.json.from }}",
            "subject": "={{ $('SandraMThreads').item.json.subject }}",
            "bucket": "={{ $('SandraMThreads').item.json.bucket }}",
            "reason": "={{ $('SandraMThreads').item.json.reason }}",
            "threadId": "={{ $('SandraMThreads').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        720
      ],
      "id": "ff8c14bd-c09b-410d-b09a-87df462a2b9b",
      "name": "GuardarLogSandra",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "zillow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "16640bd6-26ce-452b-875e-27984bd509fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Zillow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "34ae223a-93d3-49c8-b30a-0339e7d52347",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "blas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Blas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b358540-99c3-49e7-92b1-62c23ab56ca4",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "hernando",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hernando Morales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4935d84f-9ec4-4be0-a39d-963c778e212b",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "madelayne",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Madelayne Morales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17182bd1-056e-442c-aba3-b1031bb5fceb",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "jmprosolutions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "J&M Pro Solutions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d8433db0-37d1-4897-b3a2-dfa300c3101f",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "sandra",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sandra Milena"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d93effa-0625-4416-9700-642f064ea89e",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "docusign_multipro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Multi Pro Solutions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8143ff0-935b-44ca-84b8-0915fb5bf4e3",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "natalia",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Natalia Salazar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22567747-5b0d-49be-97ef-17cdd4aaf3ef",
                    "leftValue": "={{ $json.bucket_toString() }}",
                    "rightValue": "google_workspace",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GoogleWorkspace"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "944b2a01-072f-4e7e-96c7-ee64fad45bbd",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "social",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Social"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2695e29c-bcd7-4a06-9487-f180bbf9b1ff",
                    "leftValue": "={{ $json.bucket }}",
                    "rightValue": "promotions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Promotion"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Otros"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        560
      ],
      "id": "843da602-fd0d-43fc-88af-49da97829b88",
      "name": "zillow / social / promotions / otros"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        528
      ],
      "id": "6b0f1af1-a247-4a85-95bc-ca5ba3c334c7",
      "name": "J&MProThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_6452454076219649328"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        528
      ],
      "id": "9736694a-b344-4a8f-aa17-3c0a14a677be",
      "name": "EtiquetarJ&MPro",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        528
      ],
      "id": "5decd76a-714b-4b46-873c-1d8e5110cf9a",
      "name": "QuitarJ&MProdeInbox",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'jmprosolutions' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        528
      ],
      "id": "fae8b8db-d9a2-458e-92f2-a56617b7a7f5",
      "name": "LOG4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('J&MProThreads').item.json.from }}",
            "subject": "={{ $('J&MProThreads').item.json.subject }}",
            "bucket": "={{ $('J&MProThreads').item.json.bucket }}",
            "reason": "={{ $('J&MProThreads').item.json.reason }}",
            "threadId": "={{ $('J&MProThreads').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        528
      ],
      "id": "9d67e5a5-6d0c-47ed-9031-4d0763812367",
      "name": "GuardarLogJ&M",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        336
      ],
      "id": "0c0d0607-139e-4f28-989d-9e1d419e9bd7",
      "name": "MadelayneThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_1829276136593917317"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        336
      ],
      "id": "dd364141-47ec-45ee-9533-05d6edc5b0ef",
      "name": "EtiquetarMadelayne",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        336
      ],
      "id": "ea828f92-6066-4534-9ecd-e0c1a9d3676a",
      "name": "QuitarMadedeInbox",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'madelayne' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        336
      ],
      "id": "7a021f4d-e6f7-44a5-bbc8-5b06e17af686",
      "name": "LOG3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('MadelayneThreads(conversaciones)').item.json.from }}",
            "subject": "={{ $('MadelayneThreads').item.json.subject }}",
            "bucket": "={{ $('MadelayneThreads').item.json.bucket }}",
            "reason": "={{ $('MadelayneThreads').item.json.reason }}",
            "threadId": "={{ $('MadelayneThreads').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        336
      ],
      "id": "ab1e3819-5e63-4a4a-9250-c170600c6745",
      "name": "GuardarLogMade",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        128
      ],
      "id": "097be6e6-9851-445f-a93d-e135a55989cb",
      "name": "HernandoThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_4614802573398967979"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        128
      ],
      "id": "395c939b-5f7e-4f4e-8ae2-d60b39ffdcbf",
      "name": "EtiquetarHernando",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        128
      ],
      "id": "d56242be-7c56-4075-b255-35265ce86d2b",
      "name": "QuitarHernandodeInbox",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'hernando' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        128
      ],
      "id": "beeb38e4-4556-4dde-8205-a25716e8872f",
      "name": "LOG2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('HernandoThreads').item.json.from }}",
            "subject": "={{ $('HernandoThreads').item.json.subject }}",
            "bucket": "={{ $('HernandoThreads').item.json.bucket }}",
            "reason": "={{ $('HernandoThreads').item.json.reason }}",
            "threadId": "={{ $('HernandoThreads').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        128
      ],
      "id": "b301b42a-0319-4df9-8ce6-3332da767786",
      "name": "GuardarLogNando",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -64
      ],
      "id": "90a1adb2-bd73-4b2b-8265-f2aa9019ac89",
      "name": "BlasThreads"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_259249804757412444"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        -64
      ],
      "id": "2edf5270-2c32-4dd6-875b-f96af9b2c11a",
      "name": "EtiquetarBlas",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        -64
      ],
      "id": "86450b71-f225-4eea-8e56-807400441249",
      "name": "QuitarBlasdeInbox",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'blas' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -64
      ],
      "id": "8c88e7d8-81d6-48ea-9a11-b14da8a9cc0f",
      "name": "LOG1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('BlasThreads').item.json.from }}",
            "subject": "={{ $('BlasThreads').item.json.subject }}",
            "bucket": "={{ $('BlasThreads').item.json.bucket }}",
            "reason": "={{ $('BlasThreads').item.json.reason }}",
            "threadId": "={{ $('BlasThreads').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -64
      ],
      "id": "cfb9dc5c-e1d8-4db5-ad74-6608cc36b087",
      "name": "GuardarLogBlas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NI3t90GmXQIkFt1q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_3008348949168755807"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        -256
      ],
      "id": "03a5caf3-0370-439a-a13a-624104e278a6",
      "name": "EtiquetarZillow",
      "webhookId": "cc43b16f-63f9-49a2-8c93-7540a91e41e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nreturn items.filter(it => {\n  const t = it.json.threadId;\n  if (seen.has(t)) return false;\n  seen.add(t);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -256
      ],
      "id": "d04c0890-aa5b-4213-a71c-fd8c1db5bdae",
      "name": "ZillowThreads(conversaciones)"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $json.messages[0].threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        -256
      ],
      "id": "5ef356a7-bddc-44bf-89ef-87ac860d4f08",
      "name": "QuitarZillowdeInbox",
      "webhookId": "ff259f00-6c1d-4d9f-9a21-aa1ebd0ef704",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nodo toma el output del clasificador y agrega info útil para el informe\nreturn items.map(item => {\n  return {\n    json: {\n      fecha: new Date().toISOString(),\n      bucket: item.json.bucket,\n      from: item.json.from,\n      subject: item.json.subject,\n      accion: item.json.bucket === 'zillow' ? 'etiquetado' : item.json.bucket === 'promotions' ? 'descartado' : 'organizado',\n      reason: item.json.reason,\n      id: item.json.id,\n      threadId: item.json.threadId,\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -256
      ],
      "id": "916c5394-9e9f-409f-ad62-a6c43d5e27fc",
      "name": "LOG"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU",
          "mode": "list",
          "cachedResultName": "lotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1410147036,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rFxpV04b2ei7BtD8FzpXy3NvzGWSfUm0nBWt5yVz3vU/edit#gid=1410147036"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.fecha }}",
            "accion": "={{ $json.accion }}",
            "from": "={{ $('ZillowThreads(conversaciones)').item.json.from }}",
            "subject": "={{ $('ZillowThreads(conversaciones)').item.json.subject }}",
            "bucket": "={{ $('ZillowThreads(conversaciones)').item.json.bucket }}",
            "reason": "={{ $('ZillowThreads(conversaciones)').item.json.reason }}",
            "threadId": "={{ $('ZillowThreads(conversaciones)').item.json.threadId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bucket",
              "displayName": "bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -256
      ],
      "id": "b7dc9224-574b-476c-bb18-e56817145969",
      "name": "GuardarLogZillow",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q9BiFk1jb8vysXoJ",
          "name": "GeorgiaSheet"
        }
      }
    }
  ],
  "connections": {
    "ClasificadorParaElSwitch": {
      "main": [
        [
          {
            "node": "zillow / social / promotions / otros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlegaCorreoNuevo": {
      "main": [
        [
          {
            "node": "ClasificadorParaElSwitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "CodeResume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeResume": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PromotionsThreads": {
      "main": [
        [
          {
            "node": "EnviarPapeleraPromociones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviarPapeleraPromociones": {
      "main": [
        [
          {
            "node": "LOG10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG10": {
      "main": [
        [
          {
            "node": "GuardarLogPromo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SocialThreads": {
      "main": [
        [
          {
            "node": "EnviarPapeleraSocial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviarPapeleraSocial": {
      "main": [
        [
          {
            "node": "LOG9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG9": {
      "main": [
        [
          {
            "node": "GuardarLogSocial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoogleThreads": {
      "main": [
        [
          {
            "node": "EtiquetarGoogle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarGoogle": {
      "main": [
        [
          {
            "node": "QuitarGoogledeInbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarGoogledeInbox": {
      "main": [
        [
          {
            "node": "LOG8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG8": {
      "main": [
        [
          {
            "node": "GuardarLogGoogle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NataliaThreads": {
      "main": [
        [
          {
            "node": "EtiquetarNatalia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarNatalia": {
      "main": [
        [
          {
            "node": "QuitarNatalia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarNatalia": {
      "main": [
        [
          {
            "node": "LOG7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG7": {
      "main": [
        [
          {
            "node": "GuardarLogNathalia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MultiProThreads": {
      "main": [
        [
          {
            "node": "EtiquetarMulti Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarMulti Pro": {
      "main": [
        [
          {
            "node": "QuitarMultiPro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarMultiPro": {
      "main": [
        [
          {
            "node": "LOG6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG6": {
      "main": [
        [
          {
            "node": "GuardarLogMultipro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarSandraM": {
      "main": [
        [
          {
            "node": "QuitarSandraMdeInbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarSandraMdeInbox": {
      "main": [
        [
          {
            "node": "LOG5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SandraMThreads": {
      "main": [
        [
          {
            "node": "EtiquetarSandraM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG5": {
      "main": [
        [
          {
            "node": "GuardarLogSandra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zillow / social / promotions / otros": {
      "main": [
        [
          {
            "node": "ZillowThreads(conversaciones)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BlasThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HernandoThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MadelayneThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "J&MProThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SandraMThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MultiProThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NataliaThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GoogleThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SocialThreads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PromotionsThreads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J&MProThreads": {
      "main": [
        [
          {
            "node": "EtiquetarJ&MPro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarJ&MPro": {
      "main": [
        [
          {
            "node": "QuitarJ&MProdeInbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarJ&MProdeInbox": {
      "main": [
        [
          {
            "node": "LOG4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG4": {
      "main": [
        [
          {
            "node": "GuardarLogJ&M",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MadelayneThreads": {
      "main": [
        [
          {
            "node": "EtiquetarMadelayne",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarMadelayne": {
      "main": [
        [
          {
            "node": "QuitarMadedeInbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarMadedeInbox": {
      "main": [
        [
          {
            "node": "LOG3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG3": {
      "main": [
        [
          {
            "node": "GuardarLogMade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HernandoThreads": {
      "main": [
        [
          {
            "node": "EtiquetarHernando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarHernando": {
      "main": [
        [
          {
            "node": "QuitarHernandodeInbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarHernandodeInbox": {
      "main": [
        [
          {
            "node": "LOG2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG2": {
      "main": [
        [
          {
            "node": "GuardarLogNando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BlasThreads": {
      "main": [
        [
          {
            "node": "EtiquetarBlas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarBlas": {
      "main": [
        [
          {
            "node": "QuitarBlasdeInbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarBlasdeInbox": {
      "main": [
        [
          {
            "node": "LOG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG1": {
      "main": [
        [
          {
            "node": "GuardarLogBlas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EtiquetarZillow": {
      "main": [
        [
          {
            "node": "QuitarZillowdeInbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZillowThreads(conversaciones)": {
      "main": [
        [
          {
            "node": "EtiquetarZillow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuitarZillowdeInbox": {
      "main": [
        [
          {
            "node": "LOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG": {
      "main": [
        [
          {
            "node": "GuardarLogZillow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:LlegaCorreoNuevo": {
      "LlegaCorreoNuevo": {
        "lastTimeChecked": 1766671380,
        "possibleDuplicates": [
          "19b55d1f43ecbf83"
        ]
      }
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c750aa0e-53bc-49eb-be85-312876d014b4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-01T15:42:59.509Z",
      "createdAt": "2025-10-01T15:42:59.509Z",
      "role": "workflow:owner",
      "workflowId": "8jemrDys3P0ZnxyI",
      "projectId": "NG1eJxP2IbDu00JT"
    }
  ],
  "tags": []
}