backups/IpanemaMensajesDeRespuesta.json
{
  "updatedAt": "2025-10-30T13:35:16.000Z",
  "createdAt": "2025-10-24T23:12:52.884Z",
  "id": "U07oDgDDGLdgZODm",
  "name": "IpanemaMensajesDeRespuesta",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agents-nando",
        "messageText": "={{ $json.whatsapp_confirmacion }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2096,
        224
      ],
      "id": "293ac667-7275-408b-aabb-7d2558f61064",
      "name": "ComunicarEquipoInconsistencia1",
      "credentials": {
        "evolutionApi": {
          "id": "kgBF2Y7BDXEuUus8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agents-nando",
        "remoteJid": "+573238253871",
        "messageText": "={{ $json.whatsapp_confirmacion }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2096,
        32
      ],
      "id": "792726c1-11a4-4e7b-a146-6dcc05c900c9",
      "name": "ComunicarEquipoInconsistencia",
      "credentials": {
        "evolutionApi": {
          "id": "kgBF2Y7BDXEuUus8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Function n8n: Construir mensajes de inconsistencia IPANEMA (Biologix Verde) ---\n// Entradas esperadas: datos del nodo \"Validación\" (cuando verificacion = \"error\")\n\nconst data = $json;\n\n// --- Datos base ---\nconst empresa = data.nombreEmpresa || \"Cliente\";\nconst numeroOrden = data.numeroOrden || \"N/A\";\nconst fechaCompra = data.fechaCompra || \"N/A\";\nconst bodega = data.lugarEntrega || \"Sin especificar\";\nconst items = Array.isArray(data.items) ? data.items : [];\n\n// --- Detectar items con cantidad no válida ---\nconst itemsErroneos = items\n  .filter(i => i.cantidad % 4 !== 0)\n  .map(i => ({\n    itemID: i.itemID,\n    cantidad: i.cantidad,\n    sugerencia: Math.ceil(i.cantidad / 4) * 4\n  }));\n\n// -----------------------------------------------------------------------------\n// --------------------------- CORREO HTML ------------------------------------\n// -----------------------------------------------------------------------------\nlet correoHTML = `\n<div style=\"font-family: Arial, sans-serif; color: #333; background-color: #f5f7f4; padding: 0; margin: 0;\">\n  <div style=\"max-width: 700px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n    \n    <!-- Encabezado verde -->\n    <div style=\"background-color: #146c43; color: #fff; padding: 16px 30px;\">\n      <h2 style=\"margin: 0; font-size: 20px;\">Inconsistencia en Orden de Compra - ${empresa}</h2>\n      <p style=\"margin: 4px 0 0; font-size: 14px;\">Biologix Colombia S.A.S</p>\n    </div>\n\n    <!-- Cuerpo del mensaje -->\n    <div style=\"padding: 30px;\">\n      <p>Estimado equipo de compras de <strong>${empresa}</strong>,</p>\n      <p>Hemos recibido su <strong>Orden de Compra No. ${numeroOrden}</strong> con fecha de compra <strong>${fechaCompra}</strong>.</p>\n      <p>Durante la revisión, notamos una inconsistencia en las cantidades solicitadas en el(los) siguiente(s) producto(s):</p>\n\n      <table style=\"width: 100%; border-collapse: collapse; margin-top: 15px; font-size: 14px;\">\n        <thead>\n          <tr style=\"background-color: #e7f2ec; color: #333;\">\n            <th style=\"padding: 8px; border-bottom: 2px solid #d0e4d8; text-align: left;\">Producto</th>\n            <th style=\"padding: 8px; border-bottom: 2px solid #d0e4d8; text-align: left;\">Cantidad Solicitada</th>\n            <th style=\"padding: 8px; border-bottom: 2px solid #d0e4d8; text-align: left;\">Sugerencia</th>\n          </tr>\n        </thead>\n        <tbody>\n`;\n\nitemsErroneos.forEach(item => {\n  correoHTML += `\n          <tr>\n            <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">${item.itemID}</td>\n            <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">${item.cantidad} LT</td>\n            <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">¿Desean ajustar a <strong>${item.sugerencia} LT</strong> para mantener la presentación estándar de 4LT?</td>\n          </tr>`;\n});\n\ncorreoHTML += `\n        </tbody>\n      </table>\n\n      <p style=\"margin-top: 20px;\">Le solicitamos confirmar las cantidades para que <strong>Biologix</strong> pueda proceder con el despacho correspondiente.</p>\n\n      <div style=\"background-color: #eaf4eb; padding: 12px 16px; border-left: 4px solid #198754; border-radius: 4px; margin-top: 20px;\">\n        <strong>Observación:</strong> Biologix solo maneja presentaciones de 4 litros (4LT). Cualquier ajuste debe realizarse antes de generar la factura y la programación de entrega.\n      </div>\n\n      <p style=\"margin-top: 25px;\">Cordialmente,</p>\n      <p><strong>Equipo Biologix Colombia</strong><br><em>Área de Compras y Logística</em></p>\n    </div>\n  </div>\n</div>\n`;\n\n// -----------------------------------------------------------------------------\n// --------------------------- WHATSAPP MENSAJE --------------------------------\n// -----------------------------------------------------------------------------\nlet whatsappMsg = `⚠️ *Inconsistencia detectada en orden* #${numeroOrden}\\n`;\nwhatsappMsg += `🏢 *Empresa:* ${empresa}\\n`;\nwhatsappMsg += `📍 *Bodega:* ${bodega}\\n\\n`;\nwhatsappMsg += `Se detectaron inconsistencias en las siguientes cantidades:\\n`;\n\nitemsErroneos.forEach(item => {\n  whatsappMsg += `- ${item.itemID}: ${item.cantidad} LT → sugerido ${item.sugerencia} LT\\n`;\n});\n\nwhatsappMsg += `\\n📧 Ya se notificó al cliente por correo electrónico para confirmar o ajustar las cantidades.\\n`;\nwhatsappMsg += `🕓 En espera de respuesta para continuar con facturación y despacho.`;\n\n// -----------------------------------------------------------------------------\n// --------------------------- ASUNTO ------------------------------------------\n// -----------------------------------------------------------------------------\nconst asuntoCorreo = `Inconsistencia en orden ${numeroOrden} - Biologix Colombia`;\n\n// -----------------------------------------------------------------------------\n// --------------------------- CORREOS DESTINO ---------------------------------\n// -----------------------------------------------------------------------------\nconst correos_respuesta = [\n  \"arodriguez@ipanemafarms.com\",\n  \"ccruz@ipanemafarms.com\"\n];\n\n// -----------------------------------------------------------------------------\n// --------------------------- SALIDA FINAL ------------------------------------\n// -----------------------------------------------------------------------------\nreturn [\n  {\n    json: {\n      ...data,\n      correo_confirmacion: correoHTML,\n      whatsapp_confirmacion: whatsappMsg,\n      asunto_confirmacion: asuntoCorreo,\n      correos_respuesta,\n      itemsErroneos\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        32
      ],
      "id": "40870ca1-d959-4416-8bc5-d65d58b98402",
      "name": "ConstruirMensajeValidación"
    },
    {
      "parameters": {
        "jsCode": "// --- Validación de cantidades (presentación múltiplos de 4 litros) ---\n// Recibe la salida del nodo OrganizaInfoIPANEMA con items numéricos.\n\nconst data = $json;\nlet verificacion = \"ok\"; // estado inicial\n\n// Verifica que exista la lista de items\nif (!Array.isArray(data.items) || data.items.length === 0) {\n  verificacion = \"error\";\n} else {\n  for (const item of data.items) {\n    const cantidad = Number(item.cantidad) || 0;\n    // Si alguna cantidad no es múltiplo de 4 → marcar error y salir\n    if (cantidad % 4 !== 0) {\n      verificacion = \"error\";\n      break;\n    }\n  }\n}\n\n// Devuelve el mismo JSON más el campo \"verificacion\"\nreturn [\n  {\n    ...data,\n    verificacion\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -256
      ],
      "id": "3230287f-c311-4e15-bc1f-383512d2545e",
      "name": "Validación"
    },
    {
      "parameters": {
        "sendTo": "hernando@lumorapartner.com",
        "subject": "={{ $json.asunto_confirmacion }}",
        "message": "={{ $json.correo_confirmacion }}",
        "options": {
          "ccList": "hernandomv@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        -160
      ],
      "id": "ab4e10ae-1cb8-4ccc-997a-acbce8f6bb0f",
      "name": "EnviarCorreoValidación",
      "webhookId": "f53836f3-5519-4ee3-a8c6-19b18455e1b7",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eot0bu4gMEB5HIkf",
          "name": "Gmail mE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9660b557-6ec3-46ee-b04d-8a6cf33ae9ea",
              "leftValue": "={{ $json.verificacion }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        -256
      ],
      "id": "adf692f2-194d-4ba7-a337-83068361e4e6",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agents-nando",
        "messageText": "={{ $json.mensaje_whatsapp }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2096,
        -352
      ],
      "id": "e89fd6d0-101d-4b37-a4fa-084645dbc07e",
      "name": "Whatsapp confirmaciónMarcela",
      "credentials": {
        "evolutionApi": {
          "id": "kgBF2Y7BDXEuUus8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Generador de mensajes de confirmación IPANEMA (cantidades correctas) ---\n// Conserva todas las claves originales del JSON y agrega mensaje_correo, mensaje_whatsapp y asunto.\n\nconst data = $json;\n\n// -------------------- FORMATOS --------------------\nfunction formatoCOP(num) {\n  if (!num || isNaN(num)) return \"$ 0\";\n  return \"$ \" + num.toLocaleString(\"es-CO\");\n}\n\n// Calcular subtotal\nconst subtotal = data.items.reduce((acc, it) => acc + (it.valorTotal || 0), 0);\n\n// -------------------- CORREO HTML --------------------\nlet correoHTML = `\n<div style=\"font-family: Arial, Helvetica, sans-serif; max-width:700px; margin:auto; background:#f6f6f6; padding:25px; border-radius:10px;\">\n  <div style=\"background-color:#1b5e20; color:white; padding:15px; border-radius:8px 8px 0 0;\">\n    <h2 style=\"margin:0; font-size:20px;\">Confirmación de Orden de Compra - ${data.nombreEmpresa}</h2>\n    <p style=\"margin:0; font-size:14px;\">Biologix Colombia S.A.S</p>\n  </div>\n\n  <div style=\"background:white; padding:20px; border:1px solid #ddd; border-top:none; border-radius:0 0 8px 8px;\">\n    <p>Estimado equipo de compras de <strong>${data.nombreEmpresa}</strong>,</p>\n    <p>Confirmamos la recepción de su <strong>Orden de Compra ${data.numeroOrden}</strong> realizada el <strong>${data.fechaCompra}</strong>.</p>\n    <p>La entrega será procesada y despachada a la bodega de <strong>${data.lugarEntrega}</strong>.</p>\n\n    <h3 style=\"color:#1b5e20;\">🧾 Detalle de productos</h3>\n    <table style=\"border-collapse:collapse; width:100%; margin-top:10px;\">\n      <thead>\n        <tr style=\"background-color:#e8f5e9; color:#1b5e20;\">\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:left;\">Producto</th>\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:center;\">Cantidad (LT)</th>\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:right;\">Valor Unitario</th>\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:right;\">Valor Total</th>\n        </tr>\n      </thead>\n      <tbody>\n`;\n\ndata.items.forEach(it => {\n  correoHTML += `\n        <tr>\n          <td style=\"border:1px solid #ddd; padding:8px;\">${it.itemID}</td>\n          <td style=\"border:1px solid #ddd; padding:8px; text-align:center;\">${it.cantidad}</td>\n          <td style=\"border:1px solid #ddd; padding:8px; text-align:right;\">${formatoCOP(it.precioUnit)}</td>\n          <td style=\"border:1px solid #ddd; padding:8px; text-align:right;\">${formatoCOP(it.valorTotal)}</td>\n        </tr>\n  `;\n});\n\ncorreoHTML += `\n      </tbody>\n    </table>\n\n    <p style=\"margin-top:15px; font-size:14px;\">\n      <strong>Subtotal:</strong> ${formatoCOP(subtotal)} <br>\n      <strong>Total:</strong> <span style=\"color:#1b5e20; font-weight:bold;\">${data.totalOrden || formatoCOP(subtotal)}</span>\n    </p>\n\n    <div style=\"background:#f1f8e9; padding:10px; border-radius:6px; font-size:13px; color:#444;\">\n      <p><strong>Observaciones:</strong> Biologix iniciará el proceso de facturación y despacho al destino indicado.</p>\n    </div>\n\n    <p style=\"margin-top:20px;\">Atentamente,</p>\n    <p>\n      <strong>Equipo Biologix Colombia S.A.S</strong><br>\n      📞 320 280 6331 <br>\n      📧 marthagg@biologix.com.co | marcela@biologix.com.co\n    </p>\n  </div>\n\n  <div style=\"text-align:center; font-size:11px; color:#777; margin-top:10px;\">\n    <p>Este correo ha sido generado automáticamente por el sistema de automatización de Biologix.</p>\n  </div>\n</div>\n`;\n\n// -------------------- ASUNTO --------------------\nconst asuntoCorreo = `Orden de Compra ${data.numeroOrden} Recibida. Proceso logístico y facturación iniciado -- BIOLOGIX COLOMBIA`;\n\n// -------------------- WHATSAPP --------------------\nlet whatsappMsg = `📦 *Nueva Orden de Compra ${data.numeroOrden}*\\n`;\nwhatsappMsg += `🏢 *Cliente:* ${data.nombreEmpresa}\\n`;\nwhatsappMsg += `📍 *Bodega:* ${data.lugarEntrega}\\n`;\nwhatsappMsg += `🗓️ *Fecha de compra:* ${data.fechaCompra}\\n\\n`;\nwhatsappMsg += `🧾 *Detalle de productos:*\\n`;\n\ndata.items.forEach(it => {\n  whatsappMsg += `- ${it.itemID}: ${it.cantidad} LT\\n`;\n});\n\nwhatsappMsg += `\\n💰 *Total:* ${formatoCOP(subtotal)}\\n`;\nwhatsappMsg += `🚛 Equipo Biologix, por favor iniciar proceso logístico y de facturación.`;\n\n// -------------------- SALIDA FINAL --------------------\nreturn [\n  {\n    ...data,\n    mensaje_correo: correoHTML,\n    asunto: asuntoCorreo,\n    mensaje_whatsapp: whatsappMsg\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -544
      ],
      "id": "8795397e-1cd1-4548-bcc2-24cf3efe3a61",
      "name": "ConstruirMensajeConfirmación"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agents-nando",
        "remoteJid": "=+573238253871",
        "messageText": "={{ $json.mensaje_whatsapp }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2096,
        -544
      ],
      "id": "f1ff27c9-a829-4b1f-85cf-54cdb20be84c",
      "name": "Whatsapp confirmaciónMartha",
      "credentials": {
        "evolutionApi": {
          "id": "kgBF2Y7BDXEuUus8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=hernandomv@gmail.com",
        "subject": "={{ $json.asunto }}",
        "message": "={{ $json.mensaje_correo }}",
        "options": {
          "appendAttribution": false,
          "ccList": "=hernando@lumorapartner.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        -736
      ],
      "id": "78caa3c6-db14-44a7-892e-ad0cddb3dc65",
      "name": "EnviarCorreoConfirmación",
      "webhookId": "9240201f-4e2b-42d8-bbb7-68cb89a66d87",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eot0bu4gMEB5HIkf",
          "name": "Gmail mE"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ef73ae69-fae8-4b25-9a41-a5620f6e7ad2",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        976,
        -256
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"remitente\": \"Hernando Morales <hernandomv@gmail.com>\",\n  \"subject\": \"Orden de compra Ipanema\",\n  \"empresa\": \"Ipanema\",\n  \"dominio\": \"gmail.com\",\n  \"tipoArchivo\": \"PDF\",\n  \"text\": \"Fecha:\\nNúmero:\\nNIT\\nORDEN COMPRA 06-OC -00046058\\n23/07/2025 830098375-9\\nFLORES IPANEMA SAS\\nDirección:\\nTeléfono: 6577575\\nCL 92 11 51 OF 302 Bogotá, D.C.\\nFax: Bodega: GUAYMARAL\\nProveedor:\\nContacto:\\nCiudad:\\nTeléfono: Fax:\\n901154942-2 SU-BOGOTA-BIOLOGIX COLOMBIA S.A.S\\nMARTHA LUCIA MORALES GARCIA\\nCR 51 A 127 75 IN 4 AP 402\\nBogotá, D.C.\\nComprador:\\nForma de pago:\\nMoneda:\\n79158038-6 RODRIGUEZ LADINO JESUS ALBERTO\\n010 CREDITO 30 DIAS\\nCOP\\nDocto Referencia:\\nItem U.M. Cantidad Precio unit. IVA % Descuentos Valor total\\n7,00 $1.361.367,00Lt0009975 PRECISION $194.481,00 0,00 $0,00\\n8,00 $1.555.000,00Lt0009976 PRECISION $194.375,00 0,00 $0,00\\n12,00 $2.333.772,00Lt0009977 PRECISION $194.481,00 0,00 $0,00\\nTotal bruto Dscto x linea Dscto global Sub Total Total\\n$5.250.139,00 $0,00 $0,00 $5.250.139,00 $5.250.139,00\\nVlr. Impuestos\\n$0,00\\nObservación: SEMANA 31\\nRecibido Elaborado por Aprobado\\nccruz\\nPag. 1 / 1\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        448
      ],
      "id": "54b1ba3a-974e-4c58-beff-44601cfdd95f",
      "name": "testCantidadMal",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"remitente\": \"Hernando Morales <hernandomv@gmail.com>\",\n  \"subject\": \"Orden de compra Ipanema\",\n  \"empresa\": \"Ipanema\",\n  \"dominio\": \"gmail.com\",\n  \"tipoArchivo\": \"PDF\",\n  \"text\": \"Fecha:\\nNúmero:\\nNIT\\nORDEN COMPRA 06-OC -00046058\\n23/07/2025 830098375-9\\nFLORES IPANEMA SAS\\nDirección:\\nTeléfono: 6577575\\nCL 92 11 51 OF 302 Bogotá, D.C.\\nFax: Bodega: GUAYMARAL\\nProveedor:\\nContacto:\\nCiudad:\\nTeléfono: Fax:\\n901154942-2 SU-BOGOTA-BIOLOGIX COLOMBIA S.A.S\\nMARTHA LUCIA MORALES GARCIA\\nCR 51 A 127 75 IN 4 AP 402\\nBogotá, D.C.\\nComprador:\\nForma de pago:\\nMoneda:\\n79158038-6 RODRIGUEZ LADINO JESUS ALBERTO\\n010 CREDITO 30 DIAS\\nCOP\\nDocto Referencia:\\nItem U.M. Cantidad Precio unit. IVA % Descuentos Valor total\\n8,00 $1.555.848,00Lt0009975 PRECISION $194.481,00 0,00 $0,00\\n12,00 $2.333.772,00Lt0009976 PRECISION $194.481,00 0,00 $0,00\\n16,00 $3.111.696,00Lt0009977 PRECISION $194.481,00 0,00 $0,00\\nTotal bruto Dscto x linea Dscto global Sub Total Total\\n$7.001.316,00 $0,00 $0,00 $7.001.316,00 $7.001.316,00\\nVlr. Impuestos\\n$0,00\\nObservación: SEMANA 31\\nRecibido Elaborado por Aprobado\\nccruz\\nPag. 1 / 1\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        672
      ],
      "id": "dac1109c-bfdf-4b76-a6c8-509c4e45b2c0",
      "name": "TestCantidadBuena",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// --- Extractor IPANEMA (versión robusta final) ---\n// Detecta varios ítems aunque vengan pegados y convierte cantidades a número.\n\nconst remitente = $json.remitente || \"\";\nconst subject = $json.subject || \"\";\nconst contenido = ($json.contenido || \"\").replace(/\\r/g, \"\");\n\n// -------- CABECERA --------\nlet nombreEmpresa = \"\";\nlet numeroOrden = \"\";\nlet lugarEntrega = \"\";\nlet fechaCompra = \"\";\n\n// Empresa\n{\n  const m = contenido.match(/FLORES\\s+IPANEMA\\s+SAS/i);\n  if (m) nombreEmpresa = \"FLORES IPANEMA SAS\";\n}\n\n// Orden\n{\n  const m = contenido.match(/ORDEN\\s+COMPRA\\s+([A-Z0-9\\- ]+)/i);\n  if (m) numeroOrden = m[1].trim();\n}\n\n// Fecha\n{\n  const m = contenido.match(/(\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{4})/);\n  if (m) fechaCompra = m[1];\n}\n\n// Lugar de entrega\n{\n  const m = contenido.match(/Bodega:\\s*([A-Z0-9ÁÉÍÓÚÑ .-]+)/i);\n  if (m) lugarEntrega = m[1].trim();\n}\n\n// -------- Conversión numérica --------\nfunction toNumber(value) {\n  if (!value) return 0;\n  const clean = String(value)\n    .replace(/[^\\d,.-]/g, \"\")\n    .replace(/\\./g, \"\")\n    .replace(\",\", \".\");\n  const num = parseFloat(clean);\n  return isNaN(num) ? 0 : num;\n}\n\n// -------- DETECCIÓN DE ÍTEMS --------\nconst items = [];\n\n// Detectar bloques de productos completos\nconst itemBlocks = contenido.match(/(\\d{1,3},\\d{2}\\s*\\$[\\d\\.,]+\\s*Lt\\d+\\s*PRECISION[^\\d]+?\\$[\\d\\.,]+)/gi) || [];\n\nfor (const block of itemBlocks) {\n  // ItemID\n  let itemID = \"\";\n  const mID = block.match(/(Lt\\d+\\s*PRECISION[ A-Z]*)/i);\n  if (mID) itemID = mID[1].trim().replace(\"Lt\", \"\").trim();\n\n  // Cantidad\n  const mQty = block.match(/(\\d{1,3})(?:,00)?\\s*\\$/);\n  const cantidad = mQty ? toNumber(mQty[1]) : 0;\n\n  // Valor total (primer $ después de cantidad)\n  const mVT = block.match(/\\$\\s*([\\d\\.,]+)/);\n  const valorTotal = mVT ? toNumber(mVT[1]) : 0;\n\n  // Precio unitario (segundo $)\n  const matches = [...block.matchAll(/\\$\\s*([\\d\\.,]+)/g)];\n  const precioUnit = matches.length > 1 ? toNumber(matches[1][1]) : 0;\n\n  items.push({ itemID, cantidad, precioUnit, valorTotal });\n}\n\n// -------- TOTAL ORDEN --------\nlet totalOrden = \"\";\n{\n  const m = contenido.match(/Total[\\s\\S]*?\\$[\\d\\.,]+\\s*\\$[\\d\\.,]+\\s*\\$[\\d\\.,]+\\s*\\$[\\d\\.,]+\\s*\\$([\\d\\.,]+)/i);\n  if (m) totalOrden = m[1].trim();\n}\n\n// -------- SALIDA FINAL --------\nreturn [\n  {\n    remitente,\n    subject,\n    nombreEmpresa,\n    numeroOrden,\n    lugarEntrega,\n    fechaCompra,\n    items,\n    totalOrden\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -256
      ],
      "id": "3c45f32e-3479-4baf-a0a8-c25e5e635491",
      "name": "OrganizaInfoPANEMA1"
    }
  ],
  "connections": {
    "Validación": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ConstruirMensajeConfirmación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConstruirMensajeValidación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConstruirMensajeValidación": {
      "main": [
        [
          {
            "node": "ComunicarEquipoInconsistencia",
            "type": "main",
            "index": 0
          },
          {
            "node": "EnviarCorreoValidación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConstruirMensajeConfirmación": {
      "main": [
        [
          {
            "node": "EnviarCorreoConfirmación",
            "type": "main",
            "index": 0
          },
          {
            "node": "Whatsapp confirmaciónMartha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "OrganizaInfoPANEMA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "testCantidadMal": {
      "main": [
        []
      ]
    },
    "TestCantidadBuena": {
      "main": [
        []
      ]
    },
    "OrganizaInfoPANEMA1": {
      "main": [
        [
          {
            "node": "Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "remitente": "Hernando Morales <hernandomv@gmail.com>",
          "subject": "Orden de compra Ipanema",
          "empresa": "Ipanema",
          "dominio": "gmail.com",
          "tipoArchivo": "PDF",
          "text": "Fecha:\nNúmero:\nNIT\nORDEN COMPRA 06-OC -00046058\n23/07/2025830098375-9\nFLORES IPANEMA SAS\nDirección:\nTeléfono: 6577575\nCL 92 11 51 OF 302 Bogotá, D.C.\nFax: Bodega: GUAYMARAL\nDirección:\nProveedor:\nContacto:\nCiudad:\nTeléfono: Fax:\n901154942-2 SU-BOGOTA-BIOLOGIX COLOMBIA S.A.S\nMARTHA LUCIA MORALES GARCIA\nCR 51 A 127 75 IN 4 AP 402\nBogotá, D.C.\nComprador:\nForma de pago:\nMoneda:\n79158038-6 RODRIGUEZ LADINO JESUS ALBERTO\n010 CREDITO 30 DIAS\nCOP\nDocto Referencia:\nItem U.M. Cantidad Precio unit. IVA % Descuentos Valor total\n7,00 $1.361.367,00Lt0009975 PRECISION $194.481,00 0,00 $0,00\nTotal bruto Dscto x linea Dscto global Sub Total Total\n$1.361.367,00 $0,00 $0,00 $1.361.367,00 $1.361.367,00\nVlr. Impuestos\n$0,00\nObservación: SEMANA 31\nRecibidoElaborado por Aprobado\nccruz\nPag. 1\n/\n1"
        }
      }
    ]
  },
  "versionId": "f38e9758-59cf-4f09-8be5-037c5092f638",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-24T23:12:52.889Z",
      "createdAt": "2025-10-24T23:12:52.889Z",
      "role": "workflow:owner",
      "workflowId": "U07oDgDDGLdgZODm",
      "projectId": "NG1eJxP2IbDu00JT"
    }
  ],
  "tags": []
}