backups/realtorRapid.json
{
  "updatedAt": "2025-10-20T02:19:16.000Z",
  "createdAt": "2025-10-15T13:14:07.136Z",
  "id": "KJ8x5w98CSOZDJPS",
  "name": "realtorRapid",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1376,
        336
      ],
      "id": "b243ea2e-1ccc-4499-bd8a-ebb3cc5be046",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9c339c0-ccab-4de1-be86-b5193a4cacbe",
              "name": "precio",
              "value": "={{ $json['price/Precio'] }}",
              "type": "string"
            },
            {
              "id": "f0ac9e3d-eabd-4447-8b86-309b17af8c5b",
              "name": "tama帽o",
              "value": "={{ $json['lotAreaValue, lotAreaUnits'] }}",
              "type": "string"
            },
            {
              "id": "72120263-67b3-4d4a-af86-13f42186f410",
              "name": "dias_publicado",
              "value": "={{ $json.daysOnZillow }}",
              "type": "string"
            },
            {
              "id": "6a5c81f4-24cf-484d-bc94-f542f42e8425",
              "name": "address",
              "value": "={{ $json['address/Direcci贸nCompleta'] }}",
              "type": "string"
            },
            {
              "id": "04232346-d76f-4a50-895e-cb85bedfc3f7",
              "name": "=descripcion",
              "value": "={{ $json['description/Descripci贸n'] }}",
              "type": "string"
            },
            {
              "id": "c3641ac0-2502-4b2d-8f7c-c94f5e536e5f",
              "name": "url",
              "value": "={{ $json.URL }}",
              "type": "string"
            },
            {
              "id": "238562f9-d68c-40c4-b678-8b8991beb962",
              "name": "homeType",
              "value": "={{ $json.homeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        304
      ],
      "id": "2ebcef69-f2d7-41e2-b77e-8bafa522091d",
      "name": "SeleccionarInfo"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un experto analista inmobiliario especializado en evaluaci贸n de terrenos y propiedades para desarrollo.\n\nTu tarea es crear un email profesional para informar a un cliente inversionista sobre una nueva oportunidad inmobiliaria.\n\nPASO 1 - ANLISIS PROFESIONAL DE LA DESCRIPCIN:\nLee y analiza esta descripci贸n:\n{{ $json.descripcion }}\n\nIdentifica y clasifica los puntos positivos seg煤n estos criterios profesionales:\n\nVALOR Y MERCADO:\n- Precio competitivo vs. mercado\n- Potencial de apreciaci贸n\n- Oportunidades de financiamiento\n\nUBICACIN:\n- Proximidad a servicios (escuelas, hospitales, comercios)\n- Accesibilidad vial\n- Calidad del vecindario\n- Vistas o entorno natural destacado\n\nCARACTERSTICAS FSICAS:\n- Tama帽o y forma del lote ventajosos\n- Topograf铆a favorable\n- Vegetaci贸n o caracter铆sticas naturales atractivas\n\nINFRAESTRUCTURA:\n- Disponibilidad de servicios (agua, electricidad, gas, alcantarillado)\n- Infraestructura existente\n\nASPECTOS LEGALES/FINANCIEROS:\n- T铆tulo limpio\n- Financiamiento disponible (owner financing, etc.)\n- Incentivos o ventajas fiscales\n\nPOTENCIAL DE DESARROLLO:\n- Zonificaci贸n favorable\n- Posibilidad de subdivisi贸n o desarrollo\n- Renovaciones o mejoras incluidas\n\nExtrae SOLO los 3-4 puntos MS RELEVANTES y atractivos para un inversionista.\n\nPASO 2 - DATOS DE LA PROPIEDAD:\n- Direcci贸n: {{ $json.address }}\n- Precio: ${{ $json.precio }}\n- D铆as en Zillow: {{ $json.dias_publicado }}\n\n\n\nPASO 3 - CONSTRUYE EL EMAIL:\n\nASUNTO: Debe ser espec铆fico, urgente y profesional. Ejemplos:\n- \"Nueva Oportunidad: Lote  en {{ $json.address }} - ${{ $json.precio }}\"\n- \"Oportunidad Reci茅n Listada\" (si daysOnZillow < 10)\n- \"Lote con [caracter铆stica destacada] en [ubicaci贸n]\"\n\nCUERPO (m谩ximo 250 palabras):Escribe el cuerpo del email sin incluir precio, direcci贸n ni tama帽o (eso se agregar谩 autom谩ticamente despu茅s).\n1. Saludo profesional\n2. Introducci贸n breve (1-2 l铆neas) sobre por qu茅 es una oportunidad- Contexto de la oportunidad\n3. Datos clave en formato limpio:\n   - Ubicaci贸n\n   - Precio y tama帽o\n   - 3-4 highlights del an谩lisis (bullets o p谩rrafo corto)\n   - Descripci贸n de los puntos destacados\n4. Indicador de urgencia si daysOnZillow < 14 d铆as\n\nNO incluyas el bot贸n ni el link (se agrega autom谩ticamente).\n\nTONO: Profesional, objetivo, enfocado en datos y oportunidad de inversi贸n. No exagerar ni ser demasiado vendedor.\n\n\nFORMATO DE SALIDA:\nAsunto: [asunto aqu铆]\n\n[Cuerpo del email con formato limpio]\n\nFirma: Lumora Partner\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2000,
        416
      ],
      "id": "f088a172-b735-47a5-a96b-c20e293a1a52",
      "name": "ConstruirCorreo",
      "credentials": {
        "openAiApi": {
          "id": "xtHuhpx0QKJYXaAZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('FormularioRealtor').item.json.Correo }}",
        "subject": "={{ $json.message.content.Asunto }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            padding: 20px;\n            border-radius: 10px 10px 0 0;\n            text-align: center;\n        }\n        .content {\n            background: #f9f9f9;\n            padding: 25px;\n            border: 1px solid #e0e0e0;\n        }\n        .property-detail {\n            background: white;\n            padding: 15px;\n            margin: 10px 0;\n            border-left: 4px solid #667eea;\n            border-radius: 5px;\n        }\n        .icon {\n            font-size: 18px;\n            margin-right: 8px;\n        }\n        .price {\n            font-size: 28px;\n            color: #2ecc71;\n            font-weight: bold;\n            margin: 15px 0;\n        }\n        .cta-button {\n            display: inline-block;\n            background: #667eea;\n            color: white;\n            padding: 12px 30px;\n            text-decoration: none;\n            border-radius: 5px;\n            margin-top: 20px;\n            font-weight: bold;\n        }\n        .footer {\n            text-align: center;\n            padding: 20px;\n            color: #777;\n            font-size: 12px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h2> Nueva Oportunidad de Inversi贸n</h2>\n    </div>\n    \n    <div class=\"content\" \n     style=\"\n       font-family: Arial, Helvetica, sans-serif;\n       font-size: 15px;\n       line-height: 1.7;\n       color: #333;\n       background-color: #f8fafc;\n       padding: 18px 22px;\n       border: 1px solid #e2e8f0;\n       border-radius: 8px;\n       box-shadow: 0 1px 3px rgba(0,0,0,0.06);\n       white-space: pre-line;\n     \">\n        {{ $json.message.content.paso1_analisis.puntos_relevantes }}\n        \n        <div class=\"property-detail\">\n            <div class=\"price\"> {{ $('SeleccionarInfo').item.json.precio }}</div>\n            \n            <p><span class=\"icon\">{{ $('SeleccionarInfo').item.json.address }}</span><strong>Ubicaci贸n:</strong> </p>\n            \n            <p><span class=\"icon\"></span><strong>Tama帽o:</strong> {{ $('SeleccionarInfo').item.json['tama帽o'] }} acres</p>\n        </div>\n        \n        <center>\n            <a href=\"{{ $('SeleccionarInfo').item.json.url }}\" class=\"cta-button\">\n                Ver Propiedad en Zillow \n            </a>\n        </center>\n    </div>\n    \n    <div class=\"footer\">\n        <p>Hernando-Lumora Partner<br>\n        Sistema Autom谩tico de Detecci贸n de Oportunidades</p>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "senderName": "Hernando-Lumora Partner"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        272
      ],
      "id": "18bde094-7ea1-43b5-9505-8e1e6249d822",
      "name": "EnviarCorreo",
      "webhookId": "725eb966-2e38-4a59-b2cb-bba149249d7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "GWV7C7lF3MHJLXPh",
          "name": "Georgia"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Lotes Potenciales",
        "formDescription": "Escribe tu correo para recibir oportunidades del zipcode que prefieras.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Correo",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Nombre",
              "requiredField": true
            },
            {
              "fieldLabel": "Zipcode",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Days on Realtor",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "7"
                  },
                  {
                    "option": "30"
                  },
                  {
                    "option": "90"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        384,
        384
      ],
      "id": "71d792a0-f6b9-44ff-86be-bfafce7d89ce",
      "name": "FormularioRealtor",
      "webhookId": "44ad22fa-0436-49a2-9dbf-7d365fdb462e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://realty-in-us.p.rapidapi.com/properties/v3/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realty-in-us.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "70b460ee21msh89d573800826e40p1819a1jsna398b28cb464"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"limit\": 5,\n  \"offset\": 0,\n  \"postal_code\": \"29676\",\n  \"status\": [\"for_sale\", \"ready_to_build\"],\n  \"sort\": {\n    \"direction\": \"desc\",\n    \"field\": \"list_date\"\n  },\n  \"list_price\": {\n    \"min\": 5000,\n    \"max\": 50000\n  },\n  \"prop_type\": [\"land\"],\n  \"days_on_market\": {\n    \"min\": 1,\n    \"max\":  {{ $json['Days on Realtor'] }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        384
      ],
      "id": "674f4599-791f-4bf8-9c47-56aed1af968b",
      "name": "Obtener Lotes Por zipcode y d铆as publicado"
    },
    {
      "parameters": {
        "jsCode": "// Este nodo recibe el output del HTTP Request (list)\n// y devuelve un item por cada property_id encontrado\n\nconst results = items[0].json.data.home_search.results || [];\n\n// Filtramos resultados v谩lidos y eliminamos duplicados/nulos\nconst ids = results\n  .map(r => r.property_id)\n  .filter(id => id !== null && id !== undefined);\n\nreturn ids.map(id => ({\n  json: { property_id: id }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        384
      ],
      "id": "8084acd6-6cae-4270-bdc3-93bbd53b0bbe",
      "name": "Dividir los lotes encontrados"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        384
      ],
      "id": "cd9da5bc-f772-4a5a-af84-c28128c03600",
      "name": "Pasar 1 a 1 por Detail Scrapping"
    },
    {
      "parameters": {
        "url": "https://realty-in-us.p.rapidapi.com/properties/v3/detail",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "property_id",
              "value": "={{ $json.property_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realty-in-us.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "70b460ee21msh89d573800826e40p1819a1jsna398b28cb464"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        544
      ],
      "id": "4c9e8013-9b65-4302-ad1c-cb8e94bf9409",
      "name": "OBtenerItemsDeLote"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10BYJfcCr84gQcmng1ivshtCXBWn7lRD9Ryagvj-cJIM",
          "mode": "list",
          "cachedResultName": "Propiedades Realtor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10BYJfcCr84gQcmng1ivshtCXBWn7lRD9Ryagvj-cJIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Realtor SC-29676",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10BYJfcCr84gQcmng1ivshtCXBWn7lRD9Ryagvj-cJIM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "price/Precio": "={{ $json.data.home.list_price }}",
            "lotSize/Sqft": "={{ $json.data.home.details[2].text[2] }}",
            "lotAreaValue, lotAreaUnits": "={{ $json.data.home.details[2].text[1] }}",
            "homeType": "={{ $json.data.home.details[7].text[6] }}",
            "description/Descripci贸n": "={{ $json.data.home.description.text }}",
            "schools": "={{ $json.data.home.details[5].text.join(' / ') }}",
            "daysOnZillow": "={{ $json.data.home.list_date }}",
            "lotFeautres": "={{ $json.data.home.details[2].text[0] }}",
            "address/Direcci贸nCompleta": "={{ $json.data.home.location.address.line }}/{{ $json.data.home.location.address.city }}/{{ $json.data.home.location.address.state_code }}/{{ $json.data.home.location.address.postal_code }}",
            "latitude, longitude": "={{ $json.data.home.location.address.coordinate.lat }}/{{ $json.data.home.location.address.coordinate.lon }}",
            "county/ countyID": "={{ $json.data.home.location.county.fips_code }}",
            "atributtionInfo/Agente": "={{ $json.data.home.consumer_advertisers[0].name }}/{{ $json.data.home.consumer_advertisers[1].phone }}/{{ $json.data.home.advertisers[0].email }}",
            "resoFacts.waterSource": "={{ ($json.data.home.details[0].text).join(\" / \") }}",
            "resoFacts.roadSurfaceType[]": "={{ $json.data.home.details[3].text.join(\"  -  \") }}",
            "resoFacts.communityFeatures[]": "={{ ($json.data.home.details[4].text).join(' - ') }}",
            "resoFacts.securityFeatures[]": "={{ ($json.data.home.details[5].text).join(' - ') }}",
            "resoFacts.taxAnnualAmount": "={{ $json.data.home.details[7].text[0] }}/{{ $json.data.home.details[4].text[5] }}",
            "resoFacts.zoning, zoningDescription": "={{ $json.data.home.details[7].text[3] }}",
            "resoFacts.hoaFee/associationFee": "={{ $json.data.home.details[4].text.join(' - ') }}",
            "parcelNumber (en resoFacts)": "={{ $json.data.home.details[7].text[9] }}",
            "URL": "={{ $json.data.home.href }}",
            "RealtorID": "={{ $json.data.home.property_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "price/Precio",
              "displayName": "price/Precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lotSize/Sqft",
              "displayName": "lotSize/Sqft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lotAreaValue, lotAreaUnits",
              "displayName": "lotAreaValue, lotAreaUnits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "latitude, longitude",
              "displayName": "latitude, longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "daysOnZillow",
              "displayName": "daysOnZillow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address/Direcci贸nCompleta",
              "displayName": "address/Direcci贸nCompleta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description/Descripci贸n",
              "displayName": "description/Descripci贸n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lotFeautres",
              "displayName": "lotFeautres",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "county/ countyID",
              "displayName": "county/ countyID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "homeType",
              "displayName": "homeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "schools",
              "displayName": "schools",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resoFacts.zoning, zoningDescription",
              "displayName": "resoFacts.zoning, zoningDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resoFacts.waterSource",
              "displayName": "resoFacts.waterSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resoFacts.roadSurfaceType[]",
              "displayName": "resoFacts.roadSurfaceType[]",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resoFacts.communityFeatures[]",
              "displayName": "resoFacts.communityFeatures[]",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resoFacts.securityFeatures[]",
              "displayName": "resoFacts.securityFeatures[]",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resoFacts.taxAnnualAmount",
              "displayName": "resoFacts.taxAnnualAmount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resoFacts.hoaFee/associationFee",
              "displayName": "resoFacts.hoaFee/associationFee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parcelNumber (en resoFacts)",
              "displayName": "parcelNumber (en resoFacts)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atributtionInfo/Agente",
              "displayName": "atributtionInfo/Agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RealtorID",
              "displayName": "RealtorID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        464
      ],
      "id": "08ee58a1-02ba-4b8a-b0e1-41a7c4b25300",
      "name": "BaseDedatosRealtor",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NI3t90GmXQIkFt1q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1824,
        304
      ],
      "id": "3ea97a3b-2992-4911-add6-05907173d27c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "##Modificar Prompt para sacar de la descripci贸n lo positivo.",
        "height": 416,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        608
      ],
      "typeVersion": 1,
      "id": "f0721714-8c33-4ccb-95e7-d1b1808c4e48",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "SeleccionarInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BaseDedatosRealtor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SeleccionarInfo": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConstruirCorreo": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormularioRealtor": {
      "main": [
        [
          {
            "node": "Obtener Lotes Por zipcode y d铆as publicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Lotes Por zipcode y d铆as publicado": {
      "main": [
        [
          {
            "node": "Dividir los lotes encontrados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir los lotes encontrados": {
      "main": [
        [
          {
            "node": "Pasar 1 a 1 por Detail Scrapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasar 1 a 1 por Detail Scrapping": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OBtenerItemsDeLote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OBtenerItemsDeLote": {
      "main": [
        [
          {
            "node": "Pasar 1 a 1 por Detail Scrapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BaseDedatosRealtor": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "EnviarCorreo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConstruirCorreo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "FormularioRealtor": [
      {
        "json": {
          "Correo": "info@georgiamasterservices.com",
          "Nombre": "Nando",
          "Zipcode": 29676,
          "Days on Realtor": "30",
          "submittedAt": "2025-10-19T22:02:49.906-04:00",
          "formMode": "test"
        }
      }
    ],
    "Obtener Lotes Por zipcode y d铆as publicado": [
      {
        "json": {
          "data": {
            "home_search": {
              "__typename": "SearchHomeResult",
              "count": 5,
              "total": 21,
              "results": [
                {
                  "__typename": "SearchHome",
                  "property_id": "9184335350",
                  "listing_id": "2987309296",
                  "plan_id": null,
                  "status": "for_sale",
                  "photo_count": 44,
                  "branding": [
                    {
                      "__typename": "Branding",
                      "photo": null,
                      "name": "Allen Tate Realtors-Lake Keowee North",
                      "phone": null,
                      "link": null
                    }
                  ],
                  "location": {
                    "__typename": "SearchHomeLocation",
                    "address": {
                      "__typename": "SearchHomeAddress",
                      "city": "Salem",
                      "line": "108 Club Ct",
                      "street_name": "Club",
                      "street_number": "108",
                      "street_suffix": "Ct",
                      "country": "USA",
                      "postal_code": "29676",
                      "state_code": "SC",
                      "state": "South Carolina",
                      "coordinate": {
                        "__typename": "Coordinate",
                        "lat": 34.834034,
                        "lon": -82.923255,
                        "accuracy": null
                      }
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=108%20Club%20Ct%2C%20Salem%2C%20SC%2029676&size=640x480&source=outdoor&signature=KsYFQ911gTT12vftQ9XZXgvNPbU=",
                    "county": {
                      "__typename": "HomeCounty",
                      "fips_code": "45073"
                    }
                  },
                  "open_houses": null,
                  "description": {
                    "__typename": "SearchHomeDescription",
                    "sub_type": null,
                    "type": "land",
                    "beds": null,
                    "baths": null,
                    "lot_sqft": 5227,
                    "sqft": null,
                    "beds_max": null,
                    "beds_min": null,
                    "sqft_max": null,
                    "sqft_min": null,
                    "baths_full": null,
                    "baths_half": null,
                    "baths_min": null,
                    "baths_max": null,
                    "baths_full_calc": null,
                    "baths_partial_calc": null
                  },
                  "virtual_tours": null,
                  "matterport": false,
                  "advertisers": [
                    {
                      "__typename": "HomeAdvertiser",
                      "fulfillment_id": "3371295",
                      "name": "Sandy Peirce",
                      "email": "Sandy.Peirce@allentate.com",
                      "href": "https://sandypeirce.allentate.com",
                      "slogan": null,
                      "type": "seller"
                    }
                  ],
                  "flags": {
                    "__typename": "SearchHomeFlags",
                    "is_price_reduced": null,
                    "is_new_construction": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_new_listing": true,
                    "is_coming_soon": null,
                    "is_contingent": true,
                    "is_pending": null
                  },
                  "source": {
                    "__typename": "MlsSource",
                    "agents": [
                      {
                        "__typename": "MlsAgent",
                        "id": "ANSC",
                        "agent_id": "747004873",
                        "agent_name": "Sandra Peirce",
                        "office_id": "82",
                        "office_name": "Howard Hanna Allen Tate - Lake Keowee North"
                      }
                    ],
                    "id": "ANSC",
                    "type": "mls",
                    "spec_id": null,
                    "plan_id": null,
                    "listing_href": null,
                    "listing_id": "20293623"
                  },
                  "pet_policy": {
                    "__typename": "HomePetPolicy",
                    "cats": true,
                    "dogs": true
                  },
                  "community": null,
                  "primary_photo": {
                    "__typename": "HomePhoto",
                    "href": "https://ap.rdcpix.com/a55536003b8bf34a3dcce2dec3d5fd58l-m4170938231s.jpg"
                  },
                  "href": "https://www.realtor.com/realestateandhomes-detail/108-Club-Ct_Salem_SC_29676_M91843-35350",
                  "list_price": 24900,
                  "list_price_min": null,
                  "list_price_max": null,
                  "price_reduced_amount": null,
                  "estimate": null,
                  "lead_attributes": {
                    "__typename": "LeadAttributes",
                    "lead_type": "co_broke",
                    "show_contact_an_agent": true,
                    "opcity_lead_attributes": {
                      "__typename": "OpCityLeadAttributes",
                      "flip_the_market_enabled": false
                    }
                  },
                  "last_sold_date": null,
                  "list_date": "2025-10-13T19:27:46.000000Z",
                  "products": {
                    "__typename": "ProductSummarySearchHome",
                    "brand_name": "essentials",
                    "products": [
                      "core.agent",
                      "core.broker"
                    ]
                  },
                  "last_sold_price": null
                },
                {
                  "__typename": "SearchHome",
                  "property_id": "9782401081",
                  "listing_id": "2987126515",
                  "plan_id": null,
                  "status": "for_sale",
                  "photo_count": 3,
                  "branding": [
                    {
                      "__typename": "Branding",
                      "photo": null,
                      "name": "JW Martin Real Estate - Salem",
                      "phone": null,
                      "link": null
                    }
                  ],
                  "location": {
                    "__typename": "SearchHomeLocation",
                    "address": {
                      "__typename": "SearchHomeAddress",
                      "city": "Salem",
                      "line": "Meadow View Way",
                      "street_name": "Meadow View",
                      "street_number": null,
                      "street_suffix": "Way",
                      "country": "USA",
                      "postal_code": "29676",
                      "state_code": "SC",
                      "state": "South Carolina",
                      "coordinate": {
                        "__typename": "Coordinate",
                        "lat": 34.926525,
                        "lon": -82.967494,
                        "accuracy": null
                      }
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=Meadow%20View%20Way%2C%20Salem%2C%20SC%2029676&size=640x480&source=outdoor&signature=cBuhE1etqD_QdiFEQUc6XCpO9fU=",
                    "county": {
                      "__typename": "HomeCounty",
                      "fips_code": "45073"
                    }
                  },
                  "open_houses": null,
                  "description": {
                    "__typename": "SearchHomeDescription",
                    "sub_type": null,
                    "type": "land",
                    "beds": null,
                    "baths": null,
                    "lot_sqft": 43560,
                    "sqft": null,
                    "beds_max": null,
                    "beds_min": null,
                    "sqft_max": null,
                    "sqft_min": null,
                    "baths_full": null,
                    "baths_half": null,
                    "baths_min": null,
                    "baths_max": null,
                    "baths_full_calc": null,
                    "baths_partial_calc": null
                  },
                  "virtual_tours": null,
                  "matterport": false,
                  "advertisers": [
                    {
                      "__typename": "HomeAdvertiser",
                      "fulfillment_id": "3720528",
                      "name": "Michele Shkor",
                      "email": "michele@jwmartinhomes.com",
                      "href": null,
                      "slogan": "Beautiful Carolina Homes Sold By Michele Shkor",
                      "type": "seller"
                    }
                  ],
                  "flags": {
                    "__typename": "SearchHomeFlags",
                    "is_price_reduced": null,
                    "is_new_construction": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_new_listing": true,
                    "is_coming_soon": null,
                    "is_contingent": null,
                    "is_pending": null
                  },
                  "source": {
                    "__typename": "MlsSource",
                    "agents": [
                      {
                        "__typename": "MlsAgent",
                        "id": "ANSC",
                        "agent_id": "747005031",
                        "agent_name": "Michele Shkor",
                        "office_id": "747005345",
                        "office_name": "JW Martin Real Estate Office A"
                      }
                    ],
                    "id": "ANSC",
                    "type": "mls",
                    "spec_id": null,
                    "plan_id": null,
                    "listing_href": null,
                    "listing_id": "20293390"
                  },
                  "pet_policy": null,
                  "community": null,
                  "primary_photo": {
                    "__typename": "HomePhoto",
                    "href": "https://ap.rdcpix.com/93f05701ae00a44ceb5b47e223485612l-m2554681723s.jpg"
                  },
                  "href": "https://www.realtor.com/realestateandhomes-detail/Meadow-View-Way_Salem_SC_29676_M97824-01081",
                  "list_price": 22000,
                  "list_price_min": null,
                  "list_price_max": null,
                  "price_reduced_amount": null,
                  "estimate": null,
                  "lead_attributes": {
                    "__typename": "LeadAttributes",
                    "lead_type": "co_broke",
                    "show_contact_an_agent": true,
                    "opcity_lead_attributes": {
                      "__typename": "OpCityLeadAttributes",
                      "flip_the_market_enabled": false
                    }
                  },
                  "last_sold_date": null,
                  "list_date": "2025-10-07T19:57:35.000000Z",
                  "products": {
                    "__typename": "ProductSummarySearchHome",
                    "brand_name": "basic_opt_in",
                    "products": [
                      "core.agent"
                    ]
                  },
                  "last_sold_price": null
                },
                {
                  "__typename": "SearchHome",
                  "property_id": "9047382271",
                  "listing_id": "2986388042",
                  "plan_id": null,
                  "status": "for_sale",
                  "photo_count": 24,
                  "branding": [
                    {
                      "__typename": "Branding",
                      "photo": null,
                      "name": "Allen Tate Realtors-Lake Keowee - Seneca",
                      "phone": null,
                      "link": null
                    }
                  ],
                  "location": {
                    "__typename": "SearchHomeLocation",
                    "address": {
                      "__typename": "SearchHomeAddress",
                      "city": "Salem",
                      "line": "Jocassee Ridge Way",
                      "street_name": "Jocassee Ridge",
                      "street_number": null,
                      "street_suffix": "Way",
                      "country": "USA",
                      "postal_code": "29676",
                      "state_code": "SC",
                      "state": "South Carolina",
                      "coordinate": {
                        "__typename": "Coordinate",
                        "lat": 34.922635,
                        "lon": -82.965599,
                        "accuracy": null
                      }
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=Jocassee%20Ridge%20Way%2C%20Salem%2C%20SC%2029676&size=640x480&source=outdoor&signature=BK7tOdYAjTfyNiGNWCLTps-DdSQ=",
                    "county": {
                      "__typename": "HomeCounty",
                      "fips_code": "45073"
                    }
                  },
                  "open_houses": null,
                  "description": {
                    "__typename": "SearchHomeDescription",
                    "sub_type": null,
                    "type": "land",
                    "beds": null,
                    "baths": null,
                    "lot_sqft": 96268,
                    "sqft": null,
                    "beds_max": null,
                    "beds_min": null,
                    "sqft_max": null,
                    "sqft_min": null,
                    "baths_full": null,
                    "baths_half": null,
                    "baths_min": null,
                    "baths_max": null,
                    "baths_full_calc": null,
                    "baths_partial_calc": null
                  },
                  "virtual_tours": null,
                  "matterport": false,
                  "advertisers": [
                    {
                      "__typename": "HomeAdvertiser",
                      "fulfillment_id": "3714258",
                      "name": "Fran Graham",
                      "email": "Fran.Graham@allentate.com",
                      "href": "https://frangraham.allentate.com",
                      "slogan": null,
                      "type": "seller"
                    }
                  ],
                  "flags": {
                    "__typename": "SearchHomeFlags",
                    "is_price_reduced": null,
                    "is_new_construction": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_new_listing": false,
                    "is_coming_soon": null,
                    "is_contingent": null,
                    "is_pending": null
                  },
                  "source": {
                    "__typename": "MlsSource",
                    "agents": [
                      {
                        "__typename": "MlsAgent",
                        "id": "ANSC",
                        "agent_id": "747005097",
                        "agent_name": "Fran Graham",
                        "office_id": "88",
                        "office_name": "Allen Tate - Lake Keowee Seneca"
                      }
                    ],
                    "id": "ANSC",
                    "type": "mls",
                    "spec_id": null,
                    "plan_id": null,
                    "listing_href": null,
                    "listing_id": "20292532"
                  },
                  "pet_policy": null,
                  "community": null,
                  "primary_photo": {
                    "__typename": "HomePhoto",
                    "href": "https://ap.rdcpix.com/0a028717582b383e3663b49c82d10f39l-m1483118723s.jpg"
                  },
                  "href": "https://www.realtor.com/realestateandhomes-detail/Jocassee-Ridge-Way-Lot-S6_Salem_SC_29676_M90473-82271",
                  "list_price": 30000,
                  "list_price_min": null,
                  "list_price_max": null,
                  "price_reduced_amount": null,
                  "estimate": null,
                  "lead_attributes": {
                    "__typename": "LeadAttributes",
                    "lead_type": "co_broke",
                    "show_contact_an_agent": true,
                    "opcity_lead_attributes": {
                      "__typename": "OpCityLeadAttributes",
                      "flip_the_market_enabled": false
                    }
                  },
                  "last_sold_date": null,
                  "list_date": "2025-09-15T13:54:33.000000Z",
                  "products": {
                    "__typename": "ProductSummarySearchHome",
                    "brand_name": "essentials",
                    "products": [
                      "core.agent",
                      "core.broker"
                    ]
                  },
                  "last_sold_price": null
                },
                {
                  "__typename": "SearchHome",
                  "property_id": "6273819315",
                  "listing_id": "2986387657",
                  "plan_id": null,
                  "status": "for_sale",
                  "photo_count": 28,
                  "branding": [
                    {
                      "__typename": "Branding",
                      "photo": null,
                      "name": "Allen Tate Realtors-Lake Keowee - Seneca",
                      "phone": null,
                      "link": null
                    }
                  ],
                  "location": {
                    "__typename": "SearchHomeLocation",
                    "address": {
                      "__typename": "SearchHomeAddress",
                      "city": "Salem",
                      "line": "500 Stoney Creek Trl",
                      "street_name": "Stoney Creek",
                      "street_number": "500",
                      "street_suffix": "Trl",
                      "country": "USA",
                      "postal_code": "29676",
                      "state_code": "SC",
                      "state": "South Carolina",
                      "coordinate": {
                        "__typename": "Coordinate",
                        "lat": 34.922686,
                        "lon": -82.967125,
                        "accuracy": null
                      }
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=500%20Stoney%20Creek%20Trl%2C%20Salem%2C%20SC%2029676&size=640x480&source=outdoor&signature=5aPkYINhH0WZpzo0GjKk8h_r_BY=",
                    "county": {
                      "__typename": "HomeCounty",
                      "fips_code": "45073"
                    }
                  },
                  "open_houses": null,
                  "description": {
                    "__typename": "SearchHomeDescription",
                    "sub_type": null,
                    "type": "land",
                    "beds": null,
                    "baths": null,
                    "lot_sqft": 58806,
                    "sqft": null,
                    "beds_max": null,
                    "beds_min": null,
                    "sqft_max": null,
                    "sqft_min": null,
                    "baths_full": null,
                    "baths_half": null,
                    "baths_min": null,
                    "baths_max": null,
                    "baths_full_calc": null,
                    "baths_partial_calc": null
                  },
                  "virtual_tours": null,
                  "matterport": false,
                  "advertisers": [
                    {
                      "__typename": "HomeAdvertiser",
                      "fulfillment_id": "3714258",
                      "name": "Fran Graham",
                      "email": "Fran.Graham@allentate.com",
                      "href": "https://frangraham.allentate.com",
                      "slogan": null,
                      "type": "seller"
                    }
                  ],
                  "flags": {
                    "__typename": "SearchHomeFlags",
                    "is_price_reduced": null,
                    "is_new_construction": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_new_listing": false,
                    "is_coming_soon": null,
                    "is_contingent": null,
                    "is_pending": null
                  },
                  "source": {
                    "__typename": "MlsSource",
                    "agents": [
                      {
                        "__typename": "MlsAgent",
                        "id": "ANSC",
                        "agent_id": "747005097",
                        "agent_name": "Fran Graham",
                        "office_id": "88",
                        "office_name": "Allen Tate - Lake Keowee Seneca"
                      }
                    ],
                    "id": "ANSC",
                    "type": "mls",
                    "spec_id": null,
                    "plan_id": null,
                    "listing_href": null,
                    "listing_id": "20292604"
                  },
                  "pet_policy": null,
                  "community": null,
                  "primary_photo": {
                    "__typename": "HomePhoto",
                    "href": "https://ap.rdcpix.com/c05a02abbc38a01dd856e326fd01ba4al-m4248116716s.jpg"
                  },
                  "href": "https://www.realtor.com/realestateandhomes-detail/500-Stoney-Creek-Trl_Salem_SC_29676_M62738-19315",
                  "list_price": 20000,
                  "list_price_min": null,
                  "list_price_max": null,
                  "price_reduced_amount": null,
                  "estimate": null,
                  "lead_attributes": {
                    "__typename": "LeadAttributes",
                    "lead_type": "co_broke",
                    "show_contact_an_agent": true,
                    "opcity_lead_attributes": {
                      "__typename": "OpCityLeadAttributes",
                      "flip_the_market_enabled": false
                    }
                  },
                  "last_sold_date": "2023-04-17",
                  "list_date": "2025-09-15T13:39:49.000000Z",
                  "products": {
                    "__typename": "ProductSummarySearchHome",
                    "brand_name": "essentials",
                    "products": [
                      "core.agent",
                      "core.broker"
                    ]
                  },
                  "last_sold_price": 16000
                },
                {
                  "__typename": "SearchHome",
                  "property_id": "6337599593",
                  "listing_id": "2986075015",
                  "plan_id": null,
                  "status": "for_sale",
                  "photo_count": 12,
                  "branding": [
                    {
                      "__typename": "Branding",
                      "photo": null,
                      "name": "Weichert, Realtors庐 - Shaun & Shari Group",
                      "phone": null,
                      "link": null
                    }
                  ],
                  "location": {
                    "__typename": "SearchHomeLocation",
                    "address": {
                      "__typename": "SearchHomeAddress",
                      "city": "Salem",
                      "line": "Bay Ridge Dr Lot 51",
                      "street_name": "Bay Ridge",
                      "street_number": null,
                      "street_suffix": "Dr",
                      "country": "USA",
                      "postal_code": "29676",
                      "state_code": "SC",
                      "state": "South Carolina",
                      "coordinate": {
                        "__typename": "Coordinate",
                        "lat": 34.917486,
                        "lon": -82.917667,
                        "accuracy": null
                      }
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=Bay%20Ridge%20Dr%20Lot%2051%2C%20Salem%2C%20SC%2029676&size=640x480&source=outdoor&signature=SXyq0gQ-EDOBVy_TemYIOcQozyE=",
                    "county": {
                      "__typename": "HomeCounty",
                      "fips_code": "45073"
                    }
                  },
                  "open_houses": null,
                  "description": {
                    "__typename": "SearchHomeDescription",
                    "sub_type": null,
                    "type": "land",
                    "beds": null,
                    "baths": null,
                    "lot_sqft": 30492,
                    "sqft": null,
                    "beds_max": null,
                    "beds_min": null,
                    "sqft_max": null,
                    "sqft_min": null,
                    "baths_full": null,
                    "baths_half": null,
                    "baths_min": null,
                    "baths_max": null,
                    "baths_full_calc": null,
                    "baths_partial_calc": null
                  },
                  "virtual_tours": null,
                  "matterport": false,
                  "advertisers": [
                    {
                      "__typename": "HomeAdvertiser",
                      "fulfillment_id": "3348877",
                      "name": "Julie Allen",
                      "email": "goldencornerrealty@gmail.com",
                      "href": "http://www.upstatehomehunters.com",
                      "slogan": "Let us know your expectations...so we can exceed them!",
                      "type": "seller"
                    }
                  ],
                  "flags": {
                    "__typename": "SearchHomeFlags",
                    "is_price_reduced": null,
                    "is_new_construction": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_new_listing": false,
                    "is_coming_soon": null,
                    "is_contingent": null,
                    "is_pending": null
                  },
                  "source": {
                    "__typename": "MlsSource",
                    "agents": [
                      {
                        "__typename": "MlsAgent",
                        "id": "ANSC",
                        "agent_id": "1958OCT28",
                        "agent_name": "Julie Allen",
                        "office_id": "752020322",
                        "office_name": "Weichert Realtors - Shaun & Shari Group"
                      }
                    ],
                    "id": "ANSC",
                    "type": "mls",
                    "spec_id": null,
                    "plan_id": null,
                    "listing_href": null,
                    "listing_id": "20292198"
                  },
                  "pet_policy": null,
                  "community": null,
                  "primary_photo": {
                    "__typename": "HomePhoto",
                    "href": "https://ap.rdcpix.com/a9bb819bffc4a751767c8098d7cb0885l-m2744217683s.jpg"
                  },
                  "href": "https://www.realtor.com/realestateandhomes-detail/926-Bayridge-Dr_Salem_SC_29676_M63375-99593",
                  "list_price": 36000,
                  "list_price_min": null,
                  "list_price_max": null,
                  "price_reduced_amount": null,
                  "estimate": null,
                  "lead_attributes": {
                    "__typename": "LeadAttributes",
                    "lead_type": "co_broke",
                    "show_contact_an_agent": true,
                    "opcity_lead_attributes": {
                      "__typename": "OpCityLeadAttributes",
                      "flip_the_market_enabled": false
                    }
                  },
                  "last_sold_date": "2022-08-02",
                  "list_date": "2025-09-05T15:19:00.000000Z",
                  "products": {
                    "__typename": "ProductSummarySearchHome",
                    "brand_name": "essentials",
                    "products": [
                      "core.agent",
                      "core.broker"
                    ]
                  },
                  "last_sold_price": 15400
                }
              ]
            }
          }
        }
      }
    ],
    "Dividir los lotes encontrados": [
      {
        "json": {
          "property_id": "9184335350"
        }
      },
      {
        "json": {
          "property_id": "9782401081"
        }
      },
      {
        "json": {
          "property_id": "9047382271"
        }
      },
      {
        "json": {
          "property_id": "6273819315"
        }
      },
      {
        "json": {
          "property_id": "6337599593"
        }
      }
    ]
  },
  "versionId": "c33e02c4-a1b1-4fb4-8e35-f31caf7ad8e8",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-15T13:14:07.143Z",
      "createdAt": "2025-10-15T13:14:07.143Z",
      "role": "workflow:owner",
      "workflowId": "KJ8x5w98CSOZDJPS",
      "projectId": "NG1eJxP2IbDu00JT"
    }
  ],
  "tags": []
}