backups/redil.json
{
  "updatedAt": "2025-10-30T13:37:14.000Z",
  "createdAt": "2025-10-29T13:25:08.814Z",
  "id": "DGlgLXfDKNVd2Cts",
  "name": "redil",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "2e03d38d-cf85-4d7f-9a02-8071bfa57a7f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        736,
        80
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agents-nando",
        "messageText": "={{ $json.whatsapp_confirmacion }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1872,
        560
      ],
      "id": "8818385d-e083-4487-afa5-81092fc430c5",
      "name": "ComunicarEquipoInconsistencia1",
      "credentials": {
        "evolutionApi": {
          "id": "kgBF2Y7BDXEuUus8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agents-nando",
        "remoteJid": "+573238253871",
        "messageText": "={{ $json.whatsapp_confirmacion }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1872,
        368
      ],
      "id": "4eac2a84-b29a-45cb-bdd5-f1c4485c9fb7",
      "name": "ComunicarEquipoInconsistencia",
      "credentials": {
        "evolutionApi": {
          "id": "kgBF2Y7BDXEuUus8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Function n8n: Mensajes de inconsistencia – EL REDIL (Redil Roses) ---\n// Entrada: datos estructurados del parser + verificacion = \"error\"\n\nconst data = $json;\n\n// --- Datos base ---\nconst empresa      = data.empresa || \"El Redil\";\nconst numeroOrden  = data.numeroOrden || \"N/A\";\nconst fechaCompra  = data.fechaCompra || \"N/A\";\nconst fechaEntrega = data.fechaEntrega || \"N/A\";\nconst lugarEntrega = data.lugarEntrega || \"Sin especificar\";\nconst items        = Array.isArray(data.items) ? data.items : [];\n\n// --------------------------- DETECTAR INCONSISTENCIAS -------------------------\nconst itemsErroneos = items\n  .filter(i => Number(i.cantidad || 0) % 4 !== 0)\n  .map(i => ({\n    itemID: i.itemID,\n    descripcion: i.descripcion || i.itemID || \"Producto\",\n    cantidad: Number(i.cantidad || 0),\n    sugerencia: Math.ceil(Number(i.cantidad || 0) / 4) * 4\n  }));\n\n// Si no se detectan inconsistencias, registrar vacío para evitar bloqueos\nif (!itemsErroneos.length) {\n  itemsErroneos.push({\n    itemID: \"PRECISION MD 4L\",\n    descripcion: \"PRECISION MD\",\n    cantidad: 0,\n    sugerencia: 4\n  });\n}\n\n// -----------------------------------------------------------------------------\n// --------------------------- CORREO HTML ------------------------------------\n// -----------------------------------------------------------------------------\nlet correoHTML = `\n<div style=\"font-family:Arial, Helvetica, sans-serif; max-width:700px; margin:auto; background:#f6f6f6; padding:25px; border-radius:10px;\">\n  <div style=\"background-color:#145a32; color:white; padding:15px; border-radius:8px 8px 0 0;\">\n    <h2 style=\"margin:0; font-size:20px;\">Inconsistencia en Orden de Compra - ${empresa}</h2>\n    <p style=\"margin:0; font-size:14px;\">Biologix Colombia S.A.S</p>\n  </div>\n\n  <div style=\"background:white; padding:20px; border:1px solid #ddd; border-top:none; border-radius:0 0 8px 8px;\">\n    <p>Estimado equipo de compras de <strong>${empresa}</strong>,</p>\n    <p>Hemos recibido la Orden de Compra <strong>${numeroOrden}</strong> del <strong>${fechaCompra}</strong>, con entrega programada para el <strong>${fechaEntrega}</strong> en <strong>${lugarEntrega}</strong>.</p>\n    <p>Durante la validación automática se detectaron cantidades que no corresponden a la presentación estándar de <strong>4 L</strong>:</p>\n\n    <table style=\"border-collapse:collapse; width:100%; margin-top:15px;\">\n      <thead>\n        <tr style=\"background-color:#e7f2ec; color:#145a32;\">\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:left;\">Producto</th>\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:center;\">Cantidad solicitada</th>\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:center;\">Sugerencia (múltiplo de 4 L)</th>\n        </tr>\n      </thead>\n      <tbody>`;\n\nitemsErroneos.forEach(item => {\n  correoHTML += `\n        <tr>\n          <td style=\"border:1px solid #ddd; padding:8px;\">${item.descripcion}</td>\n          <td style=\"border:1px solid #ddd; padding:8px; text-align:center;\">${item.cantidad} LT</td>\n          <td style=\"border:1px solid #ddd; padding:8px; text-align:center;\">${item.sugerencia} LT</td>\n        </tr>`;\n});\n\ncorreoHTML += `\n      </tbody>\n    </table>\n\n    <div style=\"background:#f9fbe7; padding:12px; border-left:4px solid #198754; border-radius:4px; margin-top:20px;\">\n      <strong>Nota:</strong> Biologix maneja presentaciones de 4 L.  \n      Por favor confirmen si desean ajustar las cantidades sugeridas antes de proceder con facturación y despacho.\n    </div>\n\n    <p style=\"margin-top:20px;\">Cordialmente,</p>\n    <p>\n      <strong>Equipo Biologix Colombia S.A.S</strong><br>\n      📞 320 280 6331<br>\n      📧 marthagg@biologix.com.co | marcela@biologix.com.co\n    </p>\n  </div>\n\n  <div style=\"text-align:center; font-size:11px; color:#777; margin-top:10px;\">\n    <p>Este correo ha sido generado automáticamente por el sistema de automatización de Biologix.</p>\n  </div>\n</div>\n`;\n\n// -----------------------------------------------------------------------------\n// --------------------------- MENSAJE WHATSAPP --------------------------------\n// -----------------------------------------------------------------------------\nlet whatsappMsg = `⚠️ *Inconsistencia en Orden de Compra*\\n`;\nwhatsappMsg += `🏢 *Cliente:* ${empresa}\\n`;\nwhatsappMsg += `🧾 *Orden:* ${numeroOrden}\\n`;\nwhatsappMsg += `📅 *Entrega:* ${fechaEntrega}\\n`;\nwhatsappMsg += `📍 *Lugar:* ${lugarEntrega}\\n\\n`;\nwhatsappMsg += `No son múltiplos de 4 L:\\n`;\n\nitemsErroneos.forEach(item => {\n  whatsappMsg += `- ${item.descripcion}: ${item.cantidad} LT → sugerido ${item.sugerencia} LT\\n`;\n});\n\nwhatsappMsg += `\\n📧 Cliente notificado por correo. En espera de confirmación para continuar con facturación y despacho.`;\n\n// -----------------------------------------------------------------------------\n// --------------------------- ASUNTO CORREO -----------------------------------\n// -----------------------------------------------------------------------------\nconst asuntoCorreo = `Inconsistencia en orden ${numeroOrden} - ${empresa}`;\n\n// -----------------------------------------------------------------------------\n// --------------------------- CORREOS DESTINO ---------------------------------\n// -----------------------------------------------------------------------------\nconst correos_respuesta = [\n  \"compras@agricolaelredil.com\",\n  \"mauricio.arenas@agricolaelredil.com\"\n];\n\n// -----------------------------------------------------------------------------\n// --------------------------- SALIDA FINAL ------------------------------------\n// -----------------------------------------------------------------------------\nreturn [\n  {\n    json: {\n      ...data,\n      correo_confirmacion: correoHTML,\n      whatsapp_confirmacion: whatsappMsg,\n      asunto_confirmacion: asuntoCorreo,\n      correos_respuesta,\n      itemsErroneos\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        368
      ],
      "id": "637b80c4-7594-4350-ab2f-8fff55220420",
      "name": "ConstruirMensajeValidación"
    },
    {
      "parameters": {
        "sendTo": "hernando@lumorapartner.com",
        "subject": "={{ $json.asunto_confirmacion }}",
        "message": "={{ $json.correo_confirmacion }}",
        "options": {
          "ccList": "hernandomv@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1872,
        176
      ],
      "id": "fe04dbf4-6602-4d37-a2d3-77314564a287",
      "name": "EnviarCorreoValidación",
      "webhookId": "f53836f3-5519-4ee3-a8c6-19b18455e1b7",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eot0bu4gMEB5HIkf",
          "name": "Gmail mE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Validación de cantidades Biologix ---\n// Detecta si las cantidades son múltiplos de 4 (presentación 4L)\n\nconst data = $json;\nlet verificacion = \"ok\";\n\n// 1️⃣ Determinar estructura base\nlet cantidades = [];\n\n// Caso 1: estructura tipo Elite (por finca)\nif (data.json_estructurado?.finca) {\n  const fincas = data.json_estructurado.finca;\n  for (const nombre in fincas) {\n    cantidades.push(Number(fincas[nombre].cantidad) || 0);\n  }\n}\n\n// Caso 2: estructura tipo Cunday / Alexandra (array de items)\nelse if (Array.isArray(data.items)) {\n  cantidades = data.items.map(i => Number(i.cantidad) || 0);\n}\n\n// 2️⃣ Si no hay cantidades, marcar error\nif (cantidades.length === 0) {\n  verificacion = \"error\";\n} else {\n  // 3️⃣ Verificar múltiplos de 4\n  for (const cant of cantidades) {\n    if (cant % 4 !== 0) {\n      verificacion = \"error\";\n      break;\n    }\n  }\n}\n\n// 4️⃣ Retornar con campo de verificación\nreturn [\n  {\n    json: {\n      ...data,\n      verificacion\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        80
      ],
      "id": "220cfb83-1b95-4b05-9123-d3ddcbff4b4b",
      "name": "Validación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9660b557-6ec3-46ee-b04d-8a6cf33ae9ea",
              "leftValue": "={{ $json.verificacion }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        80
      ],
      "id": "3139d8f3-14cb-4d39-9a56-bfe9e0a01b26",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agents-nando",
        "messageText": "={{ $json.mensaje_whatsapp }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1872,
        -16
      ],
      "id": "11331b1b-f2a4-4749-a73f-32fe1c221af7",
      "name": "Whatsapp confirmaciónMarcela",
      "credentials": {
        "evolutionApi": {
          "id": "kgBF2Y7BDXEuUus8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Function n8n: Mensajes de confirmación – INVERPALMAS (verificación = ok) ---\n\nconst data = $json;\n\n// --- Datos base ---\nconst empresa       = data.empresa || \"Inverpalmas\";\nconst numeroOrden   = data.numeroOrden || \"N/A\";\nconst fechaCompra   = data.fechaCompra || \"N/A\";\nconst fechaEntrega  = data.fechaEntrega || \"N/A\";\nconst lugarEntrega  = data.lugarEntrega || \"Sin especificar\";\nconst items         = Array.isArray(data.items) ? data.items : [];\nconst subtotal      = Number(data.subtotalGeneral || 0);\n\n// ---- Formateador moneda ----\nfunction formatoMoneda(n) {\n  const v = Number(n);\n  if (!isFinite(v)) return \"$ 0\";\n  return \"$ \" + v.toLocaleString(\"es-CO\");\n}\n\n// ---- Filas HTML + texto WhatsApp ----\nlet filas = \"\";\nlet textoWhats = \"\";\n\nitems.forEach((item) => {\n  const desc      = item.descripcion ?? item.itemID ?? \"Producto\";\n  const cant      = Number(item.cantidad ?? 0);\n  const total     = Number(item.total ?? item.subtotal ?? 0);\n  const unitCalc  = cant > 0 ? Math.round(total / cant) : Number(item.valorUnitario ?? 0);\n  const unidad    = item.unidad ?? \"\";\n\n  filas += `\n    <tr>\n      <td style=\"border:1px solid #ddd; padding:8px;\">${desc}</td>\n      <td style=\"border:1px solid #ddd; padding:8px; text-align:center;\">${cant} ${unidad}</td>\n      <td style=\"border:1px solid #ddd; padding:8px; text-align:right;\">${formatoMoneda(unitCalc)}</td>\n      <td style=\"border:1px solid #ddd; padding:8px; text-align:right;\">${formatoMoneda(total)}</td>\n    </tr>\n  `;\n\n  textoWhats += `🌿 *${desc}* — ${cant} ${unidad}\\n`;\n});\n\n// --------------------------- CORREO HTML ---------------------------\nconst mensajeCorreo = `\n<div style=\"font-family:Arial, Helvetica, sans-serif; max-width:700px; margin:auto; background:#f6f6f6; padding:25px; border-radius:10px;\">\n  <div style=\"background-color:#1b5e20; color:#fff; padding:15px; border-radius:8px 8px 0 0;\">\n    <h2 style=\"margin:0; font-size:20px;\">Confirmación de Orden de Compra - ${empresa}</h2>\n    <p style=\"margin:0; font-size:14px;\">Biologix Colombia S.A.S</p>\n  </div>\n\n  <div style=\"background:#fff; padding:20px; border:1px solid #ddd; border-top:none; border-radius:0 0 8px 8px;\">\n    <p>Estimado equipo de compras de <strong>${empresa}</strong>,</p>\n    <p>Confirmamos la recepción de su Orden de Compra <strong>${numeroOrden}</strong>, registrada el <strong>${fechaCompra}</strong>.<br>\n    La entrega está programada para el <strong>${fechaEntrega}</strong> en <strong>${lugarEntrega}</strong>.</p>\n\n    <h3 style=\"color:#1b5e20;\">🧾 Detalle de productos</h3>\n    <table style=\"border-collapse:collapse; width:100%; margin-top:10px;\">\n      <thead>\n        <tr style=\"background-color:#e8f5e9; color:#1b5e20;\">\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:left;\">Producto</th>\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:center;\">Cantidad</th>\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:right;\">Valor Unitario</th>\n          <th style=\"border:1px solid #ddd; padding:8px; text-align:right;\">Valor Total</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${filas}\n      </tbody>\n    </table>\n\n    <p style=\"margin-top:15px; font-size:14px;\">\n      <strong>Subtotal:</strong> ${formatoMoneda(subtotal)}<br>\n      <strong>Régimen de tributación simple:</strong><br>\n      <strong>Total:</strong> <span style=\"color:#1b5e20; font-weight:bold;\">${formatoMoneda(subtotal)}</span>\n    </p>\n\n    <div style=\"background:#f1f8e9; padding:10px; border-radius:6px; font-size:13px; color:#444;\">\n      <p><strong>Observaciones:</strong> Biologix iniciará el proceso de facturación y logística de despacho.</p>\n    </div>\n\n    <p style=\"margin-top:20px;\">Atentamente,</p>\n    <p>\n      <strong>Equipo Biologix Colombia S.A.S</strong><br>\n      📞 320 280 6331<br>\n      📧 marthagg@biologix.com.co | marcela@biologix.com.co\n    </p>\n  </div>\n\n  <div style=\"text-align:center; font-size:11px; color:#777; margin-top:10px;\">\n    <p>Este correo ha sido generado automáticamente por el sistema de automatización de Biologix.</p>\n  </div>\n</div>\n`;\n\n// --------------------------- ASUNTO ---------------------------\nconst asunto = `Orden de Compra ${numeroOrden} Recibida - ${empresa} | Proceso logístico y facturación iniciado`;\n\n// --------------------------- WHATSAPP ---------------------------\nconst mensajeWhatsApp = `\n📦 *Nueva Orden de Compra ${numeroOrden}*  \n🏢 *Cliente:* ${empresa}  \n📅 *Entrega:* ${fechaEntrega}  \n📍 *Lugar:* ${lugarEntrega}\n\n${textoWhats}\n🚛 *Equipo Biologix*, por favor iniciar proceso logístico y de facturación.\n`.trim();\n\n// --------------------------- DESTINATARIOS ---------------------------\n// (puedes ajustar según política del cliente)\nconst correos_respuesta = [\n  \"auxiliarcompras@inverpalmas.com\",\n  \"compras@inverpalmas.com\"\n];\n\n// --------------------------- SALIDA ---------------------------\nreturn {\n  json: {\n    ...data,\n    mensaje_correo: mensajeCorreo,\n    asunto: asunto,\n    mensaje_whatsapp: mensajeWhatsApp,\n    correos_respuesta\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -208
      ],
      "id": "a117154a-e387-4b12-be8c-70b1480f942c",
      "name": "ConstruirMensajeConfirmación"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agents-nando",
        "remoteJid": "=+573238253871",
        "messageText": "={{ $json.mensaje_whatsapp }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1872,
        -208
      ],
      "id": "10526ebe-879e-42c8-b3c3-27bd29faba94",
      "name": "Whatsapp confirmaciónMartha",
      "credentials": {
        "evolutionApi": {
          "id": "kgBF2Y7BDXEuUus8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=hernandomv@gmail.com",
        "subject": "={{ $json.asunto }}",
        "message": "={{ $json.mensaje_correo }}",
        "options": {
          "appendAttribution": false,
          "ccList": "=hernando@lumorapartner.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1872,
        -400
      ],
      "id": "2fe02bd2-4ae0-41c6-8d7e-1a7d05bd8dde",
      "name": "EnviarCorreoConfirmación",
      "webhookId": "9240201f-4e2b-42d8-bbb7-68cb89a66d87",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eot0bu4gMEB5HIkf",
          "name": "Gmail mE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Parser robusto: Orden de Compra EL REDIL (Redil Roses) ---\n// Admite múltiples líneas de producto y normaliza montos en pesos (COP)\n\nconst input = $json;\nconst text = (input.contenido || \"\").replace(/\\r/g, \"\");\n\n// ------------------ UTILIDADES ------------------\n\n// Convierte \"$168,000.00\" → 168000\nfunction parseMoney(v) {\n  if (!v) return 0;\n  const cleaned = String(v).replace(/[^\\d]/g, \"\");\n  return cleaned ? Math.round(parseInt(cleaned, 10) / 100) : 0;\n}\n\n// Limpia texto y espacios redundantes\nfunction clean(v) {\n  return (v || \"\").replace(/\\s+/g, \" \").trim();\n}\n\n// ------------------ EXTRACCIÓN DATOS PRINCIPALES ------------------\n\n// 🔹 Número de orden\nconst numeroOrden =\n  text.match(/ORDEN\\s+DE\\s+COMPRA\\s+No\\.?\\s*([A-Z0-9\\-]+)/i)?.[1] ||\n  text.match(/\\bNo\\.?\\s*([A-Z0-9\\-]{3,})/i)?.[1] ||\n  \"N/A\";\n\n// 🔹 Fecha de entrega\nconst fechaEntrega = text.match(/FECHA\\s+DE\\s+ENTREGA:\\s*([0-9]{4}-[0-9]{2}-[0-9]{2})/i)?.[1] || \"\";\n\n// 🔹 Fecha de compra (no siempre viene)\nconst fechaCompra =\n  text.match(/FECHA\\s+OC\\s*:?[\\s]*([0-9]{4}-[0-9]{2}-[0-9]{2})/i)?.[1] ||\n  \"\";\n\n// 🔹 Lugar de entrega\nconst lugarEntrega = clean(text.match(/Lugar\\s+de\\s+entrega\\s+([^\\n]+)/i)?.[1] || \"\");\n\n// ------------------ EXTRACCIÓN DE ITEMS ------------------\n\n// Formato base detectado en Redil:\n// \"1.00 LITROS PRECISION - $168,000.00 $168,000.00\"\n// A veces puede venir más de un renglón similar.\nconst itemRegex = /(\\d+(?:[.,]\\d+)?)\\s+LITROS?\\s+(.+?)\\s+\\$([\\d.,]+)\\s+\\$([\\d.,]+)/gi;\n\nlet items = [];\nlet match;\nwhile ((match = itemRegex.exec(text)) !== null) {\n  const cantidad = Math.round(parseFloat(String(match[1]).replace(\",\", \".\")) || 0);\n  const descripcion = clean(match[2].replace(/[-–]+/g, \"\").trim()) || \"PRECISION MD\";\n  const vUnit = parseMoney(match[3]);\n  const vTotal = parseMoney(match[4]);\n  const unitCalc = !vUnit && vTotal && cantidad ? Math.round(vTotal / cantidad) : vUnit;\n\n  items.push({\n    itemID: \"PRECISION MD 4L\",\n    descripcion,\n    cantidad,\n    unidad: \"LITRO\",\n    valorUnitario: unitCalc,\n    subtotal: vTotal || cantidad * unitCalc,\n    iva: 0,\n    total: vTotal || cantidad * unitCalc,\n  });\n}\n\n// 🔹 Si no se encontró ningún ítem explícito, crear uno vacío (evita bloqueos)\nif (items.length === 0) {\n  items.push({\n    itemID: \"PRECISION MD 4L\",\n    descripcion: \"PRECISION MD\",\n    cantidad: 0,\n    unidad: \"LITRO\",\n    valorUnitario: 0,\n    subtotal: 0,\n    iva: 0,\n    total: 0,\n  });\n}\n\n// ------------------ TOTALES ------------------\nconst subtotal =\n  items.reduce((sum, i) => sum + (Number(i.total) || 0), 0) ||\n  parseMoney(text.match(/SUB\\s*TOTAL\\s*\\$?\\s*([\\d.,]+)/i)?.[1]) ||\n  0;\n\n// ------------------ CONSTRUCCIÓN DE SALIDA ------------------\nconst salida = {\n  remitente: input.remitente || \"\",\n  subject: input.subject || \"\",\n  empresa: input.empresa || \"El Redil\",\n  dominio: input.dominio || \"\",\n  tipoDeArchivo: input.tipoDeArchivo || \"pdf\",\n  numeroOrden,\n  fechaCompra,\n  fechaEntrega,\n  lugarEntrega,\n  items,\n  subtotalGeneral: subtotal,\n  totalGeneral: subtotal,\n  observaciones: \"Orden procesada automáticamente.\",\n  fuente: \"Parser Redil Roses (robusto)\",\n  estadoDeteccion: \"ok\"\n};\n\nreturn salida;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        80
      ],
      "id": "0eebbc3d-d041-4e68-93a6-779dc32045af",
      "name": "OrganizaInfoRedil"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "OrganizaInfoRedil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConstruirMensajeValidación": {
      "main": [
        [
          {
            "node": "ComunicarEquipoInconsistencia",
            "type": "main",
            "index": 0
          },
          {
            "node": "EnviarCorreoValidación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validación": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ConstruirMensajeConfirmación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConstruirMensajeValidación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConstruirMensajeConfirmación": {
      "main": [
        [
          {
            "node": "EnviarCorreoConfirmación",
            "type": "main",
            "index": 0
          },
          {
            "node": "Whatsapp confirmaciónMartha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OrganizaInfoRedil": {
      "main": [
        [
          {
            "node": "Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "96ffa286-5032-40e0-8e52-e83d24f9af66",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-29T13:25:08.816Z",
      "createdAt": "2025-10-29T13:25:08.816Z",
      "role": "workflow:owner",
      "workflowId": "DGlgLXfDKNVd2Cts",
      "projectId": "NG1eJxP2IbDu00JT"
    }
  ],
  "tags": []
}